<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>FaceBuzz</title>
</head>
<body>

  <div class="container">

    <!-- Start of header -->
    <div class="header row">
      <div class="col-12 my-3">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">FaceBuzz</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"> &nbsp; </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="my-2 mx-1" type="text" placeholder="Email Address">
              <input class="my-2 ml-1 mr-3" type="password" placeholder="Password">
              <button class="btn btn-sm btn-primary">Log In</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <!-- End of header -->

    <!-- Start of main content -->
    <div class="main-content row fill-height">
      <div class="splash col-6 p-2">
        <!-- Splash image goes here -->
      </div>
      <div class="sign-up col-6 p-2">
        <div class="row">
          <div class="col-12">
            <div class="sign-up-form p-4 mb-2">
              <h1>Creating an account is easy!</h1>
              <form>
                <input type="text" placeholder="First Name" class="first-name">
                <input type="text" placeholder="Last Name" class="last-name">
                <input type="text" placeholder="Email Address">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <div class="text-right">
                  <button class="btn btn-sm btn-primary">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- End of main content -->

    <!-- Start of footer -->
    <div class="footer row">
      <div class="col-12 p-2">
        <small>&copy; 2019 FaceBuzz</small>
      </div>
    </div>
    <!-- End of footer -->
  </div>
</body>
</html>
