<h1>Here are all the posts</h1>

<% if @user %>
 Welcome, <%= @user.first_name %>!
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<div class="feed">
  <% @posts.each do |post| %>
    <div class="post-container"><%= post.message %></div>
  <% end %>
</div>
