<h1>Here are all the posts</h1>

<% if @user %>
 Welcome, <%= @user.first_name %>!
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<div class="feed">
  <% @posts.each do |post| %>
    <div class="post-container container">
      <div class="post-owner"></div>
      <div class="post-content"><%= post.message %></div>
      <div class="post-when">Posted at <%= post.created_at.strftime("%H:%k %d/%m/%y") %></div>
    </div>
  <% end %>
</div>
