<h1>Timeline</h1>

<div class="new-post">
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>

<div class="feed">
  <% @posts.each do |post| %>
    <div class="post-container">
      <div class="post-owner-pfp"><img src="/assets/default_pfp.svg"></div>
      <% p post %>
      <div class="post-owner-name"><%= User.find(post.user_id).first_name %></div>
      <div class="post-content"><%= post.message %></div>
      <div class="post-when">Posted at <%= post.created_at.strftime("%H:%M %d/%m/%y") %></div>
    </div>
  <% end %>
</div>
