<h1>Here are all the posts</h1>

<% if @user %>
 Welcome, <%= @user.first_name %>!
<% end %>

<% @posts.each do |post| %>
  <div class="post-container"><%= post.message %><br></div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
