<% @course.each do |course| %>
<%if course %>

  <div class="card-footer">
    <a class="card-link">
      <i class="fa fa-gittip"></i>

      <% pre_subscribe = course.subscribe.find {|subscribe| subscribe.user_id == current_user.id}%>

      <%if pre_subscribe%>
        <%= link_to 'Unsubscribe', course_subscribe_path(course, pre_subscribe), method: :delete %>
      <%else%>
        <%= link_to 'Subscribe', course_subscribe_path(course), method: :course %>
      <%end%>
    </a>

    <!--subscribe Count-->
    <%= course.subscribe.count %>
  </div>
