<p id="notice"><%= notice %></p>

<br>
<h1>Welcome to THE wookiebook!</h1>

<div class="fade"></div>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <p>Episode VII ...& IX</p>
      <h1>F*ck Rails</h1>
    </div>
    
    <p>It is a period of civil war. Agents of an evil empire are forcing our brave heroes to learn rails.</p>
      
      <p>During the battle, Wookie agents manage to make a secret web application, to connect with other wookies around the galaxy </p>

        <p>Pursued by constant error messages, Princess Imraan races home aboard the Northern Line </p> 
    
       <p> Little did he know that Darth Chris and his Tom troopers were in pursuit </p>
   
    <p> Would he get back and restore ... a badly funtioning social network to the galaxy….</p>

  </div>
</section>
