</head>
<body >
   <div>
      <form action="/homepage/login">
        <input type="submit" class="button-header" value="Log In">
      </form>
   </div>

   <div id="homepage-background" class="fb-body">
      <div id="tagline" class="fb-body">Acebook helps you connect and share with the <br>
      people in your life.</div>

      <div id="signup-form">
        <h3 id="signup-header">Create an account</h3>
        <h4 id="signup-tagline">It's free and always will be.</h4>
        <form action="/posts" method="post">
          <input name="username" placeholder="Username" type="text" class="signup-box"  /> <br>
          <input name="email" placeholder="Email" type="text" class="signup-box" /><br>
          <input name="password" placeholder="Password" type="password" class="signup-box"  /><br>
          <p id="signup-disclaimer">By clicking Create an account, you agree to our Terms: that
         all software related work written by yourself shall from here on out be copyright of Team Isambard.</p>
          <input type="submit" class="button2" value="Create an account" />
         </form>
         <br>
         <hr>
         <p id="signup-form-footer">Create a Page for a someone really cool. Maybe that person's name is Max..</p>
      </div>

   </div>
</body>
