<div class="fb-body-login">
   <h1 id="intro2">Log In</h1>
   <form action="/posts" method="get">
      <input id="namebox" type="text" name="Email" placeholder="example@example.com"><br>
      <input id="namebox" type="text" name="Password" placeholder="Between 6-10 characters"><br>
   <input class="submit-button" type="submit" value="Submit">
   </form>
</div>