<div id="login-background">
<div class="login-form-container">
   <h1 id="login-header">Log In</h1>
   <form action="/posts" method="get">
      <input class="form-field" type="text" name="Email" placeholder="example@example.com"><br>
      <input class="form-field" type="text" name="Password" placeholder="Between 6-10 characters"><br>
   <input class="login-button" type="submit" value="Submit">
   </form>
</div>
</div>
