<%= @profile.username %>


<%= render 'shared/nav' %>

<h1> hello <%= @profile.username %> </h1>

<br>
Area for BIO

<br>

<textarea name="Post Box" rows="8" cols="80"></textarea>

<br>

<input type="submit" name="submit" value="submit">

<br>

Area for all messages posted on users wall:
