<h1> Sign in </h1>

<%= form_for(:session, url: sessions_url, local: true) do |form| %>

  <div>
    <%= form.email_field :email, :size=>"50", placeholder: "Enter email here..." %>
  <div>

  <div>
    <%= form.password_field :password, :size=>"50", placeholder: "Password..." %>
  <div>

  <div>
    <%= form.submit "Sign In" %>
  </div>
<% end %>
