<div class="jumbotron">
  <p style="font-size:45px; font-weight:900">Acebook</p>
  <h2>Welcome to Acebook</h2>
</div>

<div>
  <form accept-charset="UTF-8" action="/login" method="post">
   <input name="utf8" type="hidden" value="&#x2713;" />
   <input name="authenticity_token" type="hidden"
          value="" />
   <label for="session_email">Email</label>
   <input class="form-control" id="session_email"
          name="session[email]" type="text" />
   <label for="session_password">Password</label>
   <input id="session_password" name="session[password]"
          type="password" />
   <input class="btn btn-primary" name="commit" type="submit"
        value="Log in" />
 </form>
</div>

<div>
  <h4>Not a member yet?</h4>
  <%= form_with do %>
    <%= link_to 'Join Now', signup_path, class: 'button alt' %>
  <% end %>
</div>
