  <div id="clearance" class="card bg-light sign-in">
    <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">please sign <span class="inc">inc.</span></h4>

      <%= render partial: '/sessions/form' %>

  </div>
