<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar"> 
  <img src="logo.png" alt="zuckerBook">
  <span>
    <a href="/posts" class="mr-5">Posts</a>
    <a href="/signup" class="btn btn-success">Register</a>
  </span>
</nav>

<div class="container d-flex">
  <% flash.each do |type, msg| %>
  <div class="alert alert-danger text-center mx-auto" role="alert">
    <%= msg %>
  </div>
  <% end %>

  <div class="card mx-auto text-center px-4 pt-4 pb-3 mt-5" style="width: 375px;">
    <form action="/sessions" method="post">
      <input class="form-control" type="email" name="email" placeholder="Email" required>
      <br>
      <input class="form-control" type="password" name="password" placeholder="Password" required>
      <br>
      <input type="submit" value="Sign In" class="btn btn-primary">
    </form>
  </div>
</div>

<footer class="navbar fixed-bottom mb-2">
  <span class="ml-3">
    <a href="#" class="mr-5">Privacy Policy</a>
    <a href="#">Human Capital</a>
  </span>

  <span class="mr-3">
    <a href="#" class="mr-5">Advertisers</a>
    <a href="#">About Us</a>
  </span>
</footer>