<!DOCTYPE html>
<div class="welcome-header">
  <% if !!flash[:alert] %>
    <% flash.each do |type, message| %>
      <p><%= message %></p> <br>
    <% end %>
  <% end %>

  <h1>AceBook</h1>
  <br>
  <br>
  <div class="log-in-button"><%= button_to "Login", '/login', method: :get %></div>
  <br>
  <br>
  <div class="sign-up-button"><%= button_to "Sign Up", '/user/create', method: :get%></div>
<div>
</html>