<!DOCTYPE html>

<html lang='en'>
  <head>
    <title> &#129409; Acebook</title>
  </head>

  <body>
      <h1>AceBook</h1>
        <br>
        <br>
      <div class="log-in-button"><%= button_to "Login", '/login', method: :get %></div>
        <br>
        <br>
      <div class="sign-up-button"><%= button_to "Sign Up", '/user/create', method: :get%></div>
    <div>
  </body>
</html>