<%# <h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p> %>
<% if !!flash[:alert] %>
  <% flash.each do |type, message| %>
    <p><%= message %></p> <br>
  <% end %>
<% end %>

<h1>AceBook</h1>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/user/create', method: :get%>