<%# <h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p> %>

<h1>Welcome</h1>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/user/create', method: :get%>