<h1>Add Chat Room</h1>

<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %> 
