# comment related to heroku
env:
  global:
    - CC_TEST_REPORTER_ID=a033168785c4467b395e02a4817046d59e55d3e6999b5fb55f147af02f74e02f
language: ruby
rvm:
 - 2.5.0
services:
  - postgresql
dist: trusty
cache: bundler
before_install:
  - gem install bundler -v 1.16.1
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - bundle exec rails db:create
  - bundle exec rails db:migrate
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
deploy:
  provider: heroku
  api_key:
    secure: 72961515-5812-4718-b9a5-f14a3fbce74f
  app: acebook
  on: set_up/1/quality_checks
