language: ruby
dist: trusty
cache:
- bundler
before_script:
- bundle exec rake db:create
- bundle exec rake db:migrate
- bundle exec rake assets:precompile
deploy:
  provider: heroku
  api_key:
    secure: KEY
  app: rails-test-app-article
  on:
    repo: felipeluizsoares/rails-test-app