language: ruby
rvm:
- 2.5.0
before_install:
- gem update --system
- gem install bundler
services:
- postgresql
before_script:
- psql -c 'create database pgapp_test;' -U postgres


# - bundle exec rake db:create
# - bundle exec rake db:migrate
# script:
# - bundle exec rspec


