language: ruby
rvm:
  - 2.5.0
install:
- gem uninstall bundler
- gem install bundler --version '1.7.4'
- bundle install
- rails db:create
- rails db:migrate
# - rails db:migrate <- tried but didnt work
script: "rake"