language: ruby
rvm:
  - 2.5.0

env:
  global:
    - CC_TEST_REPORTER_ID=85ca9dd8683abc577230481be6e37304a287904bd1897db53b2715984a1bdd66

services:
  - postgresql

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate

script:
  - rspec

# deploy:
#   provider: heroku
#   app: intense-stream-74805
#   on:
#     repo: EManifold/acebook-zuckermen
#   run:
#     - bundle exec rails db:migrate
#   api_key:
#     secure: df0e7ecc-c802-440d-9a28-9f15bddcfee2
