services:
    - postgresql

addons:
    postgresql: '9.6'

before_script:
    - psql -c 'create database pgapp_test;' -U postgres
language: ruby

rvm:
    - 2.5.0

script:
    - bundle exec rails db:reset db:setup db:migrate RAILS_ENV=test
    - bundle exec rspec