language: ruby

install:
  - gem uninstall bundler
  - gem install bundler --version '1.16.3'
  - bundle install

rvm:
  - 2.7.0

services:
- postgresql

before_script:
- bin/rails db:create
- bin/rails db:migrate

script:
- bundle exec rspec

env:
  global:
    - CC_TEST_REPORTER_ID=ABC123
language: ruby
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT