language: ruby
rvm:
  - 2.5.0

env:
  global:
    - CC_TEST_REPORTER_ID=89f7dbadec8ea3cdc6c8927a6029651d2e8243819ce79a4e2288eea12fcda172

script:
    - CODECLIMATE_REPO_TOKEN=89f7dbadec8ea3cdc6c8927a6029651d2e8243819ce79a4e2288eea12fcda172 bundle exec rspec && bundle exec codeclimate-test-reporter
    - rubocop

install:
  - bundle install

before_install:
  - gem install bundler

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  - rails db:setup RAILS_ENV=test
  - rails db:migrate RAILS_ENV=test

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
