<div class="container-fluid">
    <div class="form-group">
      <%= form_for [@post, @comment], remote: true do |form| %>
        <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "Compose new comment" %>
        <%= form.submit "Submit", id: "submit_comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>