<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_body"><%= comment.body %> </p>
    <p class="comment_userid">Comment by <%= comment.user.username %> </p>
  </div>
</div>
