
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to '<button type="button">Delete Comment</button>'.html_safe, [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
