
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user.id == comment.commenter_id %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               <%end%>
</p>
