<%# Edit comment button %>
<%= link_to edit_comment_path(comment_id), :method => :get do %>
    <button type="button" class="btn btn-primary btn-sm" style="font-size: 0.6em;">edit</button> 
<% end %> 

<%# Delete comment button %>
<%= link_to comment, :method => :delete do %>
    <button type="button" class="btn btn-primary btn-sm" style="font-size: 0.6em;">delete</button> 
<% end %> 



 
    