<%= render 'comments/form' %>
<% @post.timesort_comments.each do |comment| %>
  <div><%= simple_format(comment.content) %> <%= User.find(comment.user_id).has_username %></div>
  <% if current_user == comment.user %>
    <%= link_to 'Delete comment', [comment.post, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
