
<p>
  <strong>Commenter:</strong>
  <% @user = User.find(comment.commenter_id) %>
  <%= @user.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <% if current_user.id == comment.commenter_id %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <%end%>
</p>
