<% if comment.body %>
  <article class="media">

    <figure class="media-left">
      <p class="image is-48x48">
        <%= gravatar_for comment.user %>
      </p>
    </figure>

    <div class ="media-content">
      <div class="content">
        <p>
          <strong><%= comment.user.name %></strong>
          <br>
          <%= comment.body %>
          <br>
        </p>
      </div>
    </div>

  </article>
<% end %>




