<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
<div class="comment_form">
  <p>
    <%= form.text_area :body, placeholder: "Add a comment:"%>
  </p>
  <p>
    <%= form.submit %>
  </p>
</div>  
<% end %>
