<%= form_with model: [post, comment], format: :js, remote: true do |form| %>
  <%= form.text_area :text, id: "comment_text" %>
  <div class="popup" onclick="myFunction()">
    <%= form.submit "Submit" %>
    <span class="popuptext" id="myPopup">Comment added</span>
  </div>
<% end %>
<script>
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>