<%=form_with(model: [@post, @post.comments.build], local: true) do |f|%>
  <p class="emoji-picker-container">
    <%= f.text_area :content, :maxlength => 140, data: { emojiable: true } %>
  </p>
  <%= f.submit %>

<% end %>
