var alert = "Added comment!";
var level = "primary";

if("<%= j @error %>"){
  alert = "<%= j @error %>";
  level = "danger";
} else{
  var comments = document.querySelector("#comments");
  var newComment = "<div class='newComment'><%= j render(@comment) %></div>"
  comments.insertAdjacentHTML("afterbegin", newComment );
  // add new comment on top of previous ones
}

var nav = document.querySelector("nav");
var flash = `<div class='alert alert-${level}' role='alert'>${alert}</div>`;
nav.insertAdjacentHTML("afterend", flash );
// add flash

document.getElementById("comment_content").value = "";
// reset form to be blank