<!DOCTYPE html>
<html>
  <title>Acebook</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div class="Cnt_Layout">
      <header class="Menu">
        <ul class="list_item">
          <li class="item left"><i class="fab fa-facebook"></i></li>
          <li class="item left">
            <i class="fab fa-facebook-messenger"></i>
            <span class="circle_notify"></span>
          </li>

          <li class="item middle">
            <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
              <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
            <% end %>
            <!-- <div class="cnt_search">
              <input type="text" class="txt_search" placeholder="Search for a post..."/>
              <i class="fa fa-search"></i>
            </div> -->
          </li>
          <li class="item right"><i class="fa fa-bell"></i></li>
          <li class="item right"><i class="fas fa-comments"></i></li>
          <li class="item right"><i class="fa fa-user-friends"></i></li>
        </ul>
      </header>

      <div class="Sections New_Post">
        <div class="Body">
<div class="Cnt_Layout">
  <center>
  <% if @posts.exists? %>
    <h1>Posts</h1>
  <% else %>
    <h1>Oop! No matching posts ...</h1>
  <% end %>
<div class="">
    <% @posts.each do |post|%>
      <div class="">
        <%= post.message %>
      </div>
    <% end %>
  </div>
  </center>
</div>
</div>
</div>

</html>
