<%= link_to 'signup', new_user_registration_path%>
<%= link_to 'signin', new_user_session_path%>

                  <a class="btn btn-success btn-lg"  href="<%=new_user_registration_path%>">Create New Account </a>