<p>All Mentors</p>

<% @mentors.each do | mentor | %>
  <%= mentor.email %>
  <br>
<% end %>

<%= link_to 'Log out', destroy_student_session_path, :method => :delete %>

<%= link_to "Forum", simple_discussion_path %>
