<% if @results == [] %>
    <main class="ui raised very padded text container segment">
        <header class="ui basic segment">
            <h3 class="ui header">Search Results: </h3>
            <p>No Results Found</p>
        </header>
    </main>
    <% else %>
        <main class="ui teal raised very padded text container segment">
            <header class="ui basic segment">
                <h3 class="ui header">Search Results:</h3>
            </header>
            <% @results.each do |user| %>
                <% if user.name != current_user.name %>
                    <div class="ui vertical clearing segment">
                        <span class="ui header">
                    <%= link_to user.name, user_path(user) %>
                </span>
                        <% if current_user.not_friends.include?(user) %>
                            <div class="ui basic segment">
                                <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                                    <input class="ui basic button" type=submit value='Add Friend'>
                                    <% end %>
                            </div>
                            <% end %>
                                <% end %>
                                    <% end %>
                    </div>
        </main>
        <% end %>
            <div class="ui basic raised text container segment">
                <a class="ui huge teal button" href="/friends">Back</a>
            </div>
