<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmed status:</strong>
  <%= @friend.confirmed_status %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
