* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

/* Body */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Posts on the Feed */

.post-container {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template: auto auto auto / min-content auto;
  grid-gap: 0.5rem;
}

.post-owner-pfp {
  grid-area: 1 / 1 / 4 / 2;
  width: 100px;
}

.post-owner-name {
  align-self: center;
  font-weight: bold;
}

.post-content {
}

.post-when {
  align-self: end;
}
