<!DOCTYPE html>
<html lang="en">
<head>
  <title>AceBook Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="application.css">
</head>
<body>
<div>
  <div id="title">
    <br><br><br>
    <h1 class="heading-center1">AceBook</h1>
    <h6 class="heading-center6"><em>Find your friends, or make some</em></h6>
  </div>
  <br>
  <div>
    <div class="container">
    <div class="card">
    <article class="card-body">
    	<h4 class="card-title text-center mb-4 mt-1" style="color: slateblue">Log in</h4>
    	<hr>

    	<form action="/" method="post">
    	<div class="form-group">
    	<div class="input-group">
    		<div class="input-group-prepend">
    		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
    		 </div>
    		<input name="" class="form-control" placeholder="Email address" type="email">
    	</div> <!-- input-group.// -->
    	</div> <!-- form-group// -->
    	<div class="form-group">
    	<div class="input-group">
    		<div class="input-group-prepend">
    		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    		 </div>
    	    <input class="form-control" placeholder="Password" type="password">
    	</div> <!-- input-group.// -->
    	</div> <!-- form-group// -->
    	<div class="form-group">
    	<button type="submit" class="btn btn-primary btn-block"> Login </button>
    	</div> <!-- form-group// -->
    	<p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
    	</form>
    </article>
    </div> <!-- card.// -->

    	</aside> <!-- col.// -->
    </div> <!-- row.// -->

    </div>
    <!--container end.//-->

    <br><br><hr>

    <div>
      <p>About<p><p>Help Center</p>
    </div>


</body>
</html>


<!--  <br><br><br><br><br><br><br><br>

<hr> this makes a line dash -->
