/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 body {
  color: white;
  text-align: center;
  background-image: linear-gradient(40deg, #21345a, #12213f, #4267B2, #4267B2);
  background-size: auto;
}

.sign_up_form {
  align-items: center;
  height: 300px;
  width: 50%;
  margin: auto;
  background-color:#1d2d4d6c;
  border-radius: 20px;
}


.user_name_enter.input {
  width: 50%;
}


.user_email_enter.input {
 float: right;
}

.posts {
 background-color: rgb(255, 255, 255);
}

#post {
 margin: auto;
 align-items: center;
 color: rgb(0, 0, 0);
 width: 30%;
 background-color: rgb(219, 221, 225);
 border-radius: 30px;
}