/* line 7, app/assets/stylesheets/errors.scss */
#error_status {
  position: absolute;
  top: 50px;
  z-index: -1;
  left: 0px;
  right: 0px;
}

/* line 15, app/assets/stylesheets/errors.scss */
#not_found_div {
  position: absolute;
  top: 0px;
  z-index: -1;
  left: 0px;
  right: 0px;
}

/* line 23, app/assets/stylesheets/errors.scss */
#not_found_pic {
  position: relative;
  width: 100%;
  height: 100%;
}
