    <div class="container">
      <div class="row">
        <div class="col">
          <% if flash[:notice] != nil %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= flash[:notice] %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>