<div id="create-post" class="row">
  <div class="col-12">
    <div class="create-post-container mb-2">

      <%= simple_form_for(@post, method: :post, url: posts_path) do |f| %>
        <%= f.input :message, as: :text, placeholder: 'What are you up to?' %>
        <%= f.file_field :image, accept: 'image/png,image/jpeg' %>
        <div class="text-right">
          <%= f.button :submit, 'Post', class: 'btn btn-sm btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
