<div class="container">
  <!-- Start of main content -->
  <div class="main-content row fill-height">
    <div class="splash col-6 p-2">
      <!-- Splash image goes here -->
    </div>
    <div class="sign-up col-6 p-2">
      <div class="row">
        <div class="col-12">
          <div class="sign-up-form p-4 mb-2">
            <h1>Creating an account is easy!</h1>
            <form>
              <input type="text" placeholder="First Name" class="first-name">
              <input type="text" placeholder="Last Name" class="last-name">
              <input type="text" placeholder="Email Address">
              <input type="password" placeholder="Password">
              <input type="password" placeholder="Confirm Password">
              <div class="text-right">
                <button class="btn btn-sm btn-primary">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!-- End of main content -->
</div>