.footer {
  padding: 1rem 0rem 1rem 0rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul#menu li a{
  color: #67A5A9;
  font-size: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

ul#menu li{
  list-style-type: none;
  display: inline-block;
}
