.sidenav {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 80px;
  //background: #eee;
  overflow-x: hidden;
  //padding: 8px 0;
}

.sidenav p {
  padding: 10px 8px 10px 20px;
  text-decoration: none;
  font-size: 30px;
  color: grey;
  margin: 0;
  text-align: left;
}

.sidenav a {
  padding: 10px 8px 10px 20px;
  text-decoration: none;
  font-size: 30px;
  color: #67A5A9;
  display: block;
}

.sidenav a:hover {
  color: #D0A18B;
  // original blue hover #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}