.post{
  border: solid 1px gainsboro;
  border-radius: 5px;
  width: 99%;
  margin: auto;
  display: inline-block;
  background-color: white;
}

.container-fluid {
  padding: 5px;
}

.profile-pic{
  width: 10%;
  display: inline-block;
}

.profile-pic img{
  width: 100%;  
}

.post-text{
  text-align: left;
  display: inline-block;
  width: 89%;
}

.user-details{
  font-style: italic;
}

.newPost {
	max-height: 0;
  overflow: hidden;
	animation: slideIn 1s;
}

@keyframes slideIn {
	to { max-height: 500px; }
}