body {
  margin-top: 50px;
 }

html * {font-family: verdana;}
 
 .navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
  background: rgb(42, 95, 179) !important;
  border: none;
  a {
    color: white;
  }
}

.navbar {
  padding:5px;
  padding-right:38px;
}


nav {
  .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
      color: white;
      font-weight: bold;
     font-size: 25px;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
  .navbar-nav {
    color: white !important;
  }
  .btn-default {
    color: rgb(42, 95, 179) !important;
    background-color: white;
    border-color: white;
    font-weight: bold;
  }
  button:hover, .btn-default:hover {
    color: rgb(42, 95, 179) !important;
    background-color: lightgray;
    border-color: lightgray;
    font-weight: bold;
  }
  button:hover, .navbar-nav:hover {
    background-color: rgb(42, 95, 179);
    color: white !important;
  }

  
}