nav {
    .navbar-header {
        width: 100%;
        button,
        .navbar-brand {
            transition: opacity 0.15s;
        }
        button {
            margin-right: 0;
        }
        button:hover,
        .navbar-brand:hover {
            opacity: 0.8;
        }
    }
}


body {
    margin-top: 50px;
    text-align: center;
}

// .icon-bar {
//   background-color: white !important;
// }

// .active a {
//   background: $navbarColor !important;
//   border-bottom: solid 5px white;
// }

// .dropdown-toggle, .dropdown-menu {
//   background: $navbarColor !important;
//   border: none;
// }

// .dropdown-menu a:hover {
//   color: black !important;
//   background: white !important;
// }