/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #3B5998;
  padding: 0px;
}

#logo {
  width: 50px;
  padding: 8px;
}

.navigation {
  float: right;
}

.links {
  padding: 23px;
}

.links a {
  color: white;
  font-family: Helvetica;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
}

.links a:hover {
  background-color: #5F7CB9;
}

.welcome {
  border: red solid;
}

.content {
  border: black solid;
}

.add-post {
  border: green solid;
  height: 150px;
}

.input-box {
  width: 98.8%;
  height: 60px;
  padding-left: 10px;
}

input, select{
  border: 1px #7A7F8B solid;
  border-radius: 8px;
  font-size: 20px;
  width: 100%;
}

.post-button {
  background-color: #3B5998;
  border-radius: 3px;
  font-size: 20px;
  font-family: Helvetica;
  height: 40px;
  width: 120px;
  border: none;
  color: white;
  margin: 15px 0px;
  float: right;
}

.post-button:hover {
  background-color: #5F7CB9;
}


.posts {
  border: orange solid;
}

.post {
  border: blue solid;
  border-bottom: #7A7F8B solid 0.75px;;
}

.time {
  font-family: Helvetica;
  font-size: 14px;
  color: #7A7F8B;
  padding-top: 5px;
  padding-bottom: 15px;
}

.message {
  border: orange solid;
  font-family: Helvetica;
  font-size: 16px;
  padding: 20px 0px;
}

.post a {
  font-size: 16px;
  font-family: Helvetica;
  border: none;
  width: 70px;
  height: 30px;
  color: #3B5998;
  margin: none;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.name {
  border: orange solid;
  font-weight: bold;
  font-size: 30px;
  color: #365899;
  text-decoration: none;
  padding: 20px 0px;
}

.name:hover {
  text-decoration: underline;
}

.like-button {
  font-size: 16px;
  font-family: Helvetica;
  text-align: left;
  border: none;
  width: 70px;
  height: 30px;
  color: #3B5998;
  margin: none;
}

.like-button:hover {
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  font-family: Helvetica;
  color: #1D2129;
}
