/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
  background-color: #3B5998;
  padding: 0px;
}

#logo {
  width: 50px;
  padding: 8px;

}

.navigation a {
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  margin: 10px;
  text-decoration: none;

}

.navigation a:hover {
  background-color: #5F7CB9;
}


.navigation {
 float: right;
}

.links {
  padding: 22px;
}

.name {
  float: left;
  width: 38%;
  border: black solid;
}

.content {
  float: right;
  border: black solid;
  width: 60%;
}

.add-post {
  float: right;
  width: 90%;
  border: red solid;
  padding: 20px;
}

.post-button {
  background-color: #3B5998;
  border-radius: 3px;
  font-size: 25px;
  font-family: Helvetica;
  height: 40px;
  width: 150px;
  border: none;
  color: white;
  margin: 15px 0px;
  float: right;
}

.post-button:hover {
  background-color: #5F7CB9;
}

.input-box {
  margin: 15px 0px;
  height: 80px;
}

input, select{
  border: 1px #707070 solid;
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
  width: 100%;
  float: right;
}
