h1 {
  font-size: 20px;

}
.myDiv {
    z-index: 1;
    font-family: 'Nanum Gothic', sans-serif;
}

.myDiv .bg {
  background: url('https://cdn.pixabay.com/photo/2016/06/08/19/40/texture-1444488_960_720.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  background-position: center;
  background-attachment: inherit;
  background-repeat: repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  height: auto;
  min-width: 1024px;
  margin-top: -20px;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
}
/*--- navigation bar ---*/

@media (min-width: 768px) {
  .navbar-acebook {
    border-radius: 0px;
  }
}

.navbar {
  background:#4C2969;
  border-radius: 0px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}
.nav-link {
  margin-right: 1em !important;
  float: right;
}

.navbar-collapse {
  justify-content: flex-end;
}
.navbar-nav {
  list-style-type: none;
  position: absolute;
  right: 10px;
}
.navbar-nav>li {
    float: right;
}
.navbar-brand-logo {
  font-size: 28px;
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
}

li:hover {
  background-color: f2f2f2;
}

.welcome {
  color: white;
  margin-left: 20px;
  margin-bottom: 25px;
}

.login-form {
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-color:#251947;
  width: 40%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}


/*--- posts ---*/

.new-post {
  text-align: center;
}

#post_area {
  border-style: solid;
  border-color:#251947;
  border-width: medium;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.post-body {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
  border-style: solid;
  border-color:#251947;
}

.submit-post {
  position: fixed;
  bottom: 505px;
  right: 146px;
  width: 409px;
  background-color: #8d80ac;
  border-style: solid;
  border-color:#251947;
}

.post-user {
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin-bottom: 4px;
}

.post-text {
  text-align: left;
  font-size: 24px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.posts-time {
  font-size: 14px;
  color: grey;
  text-align: left;
}

.dropbtn {
  background: none;
  color: black;
  font-size: 19px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown, .dropup {
  float: right;
  margin-right: 311px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #E2A789;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #E2A789;}

#all-posts {
  margin-top: 20px;
  overflow-y: scroll;
  height: 600px;
  padding-bottom: 50px;
}

.purr{
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.form-control {
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30px;
}
