.sign-up {
  text-align: center;
}

.sign-in {
  text-align: center;
}

body {
  background-size: cover;
    	background-repeat: no-repeat;
    	min-height: 100vh;
  background-image: url("mangrove-background.jpg");
}
