body {
  height: 100vh;
}

h1 {
  font-size: 20px;
}

.myDiv {
    z-index: 1;
    font-family: 'Nanum Gothic', sans-serif;
    height: 100%;
}

.myDiv .bg {
  background: url('https://cdn.pixabay.com/photo/2016/06/08/19/40/texture-1444488_960_720.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/*--- navigation bar ---*/

@media (min-width: 768px) {
  .navbar-acebook {
    border-radius: 0px;
  }
}

.navbar {
  background:#4C2969;
  border-radius: 0px;
  margin-bottom: 0;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}

.nav-link {
  margin-right: 1em !important;
  float: right;
}

.nav-link:hover {
  color: #9cc2ff;
  text-decoration: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  list-style-type: none;
  position: absolute;
  right: 10px;
}

.navbar-nav>li {
    float: right;
}

.navbar-brand-logo {
  font-size: 28px;
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar-brand-logo:hover {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: f2f2f2;
}

.welcome {
  color: white;
  margin-bottom: 25px;
  margin-top: 0;
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.login-form {
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-color:#251947;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}


/*--- posts ---*/

.new-post {
  text-align: center;
  border-style: solid;
  border-color:#251947;
  border-width: medium;
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 18px;
  width: 60%;
}

.new-post textarea {
  width: 90%;
}

.post {
  position: relative;
}

.post-body {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 18px;
  border-style: solid;
  border-color: #251947;
}

.submit-post {
  position: relative;
  border-radius: 15px;
  width: 80px;
  height: 25px;
  background-color: #8d80ac;
  border-style: solid;
  border-color:#251947;
  z-index: 50;
}

.post-user {
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin-bottom: 4px;
}

.post-text {
  text-align: left;
  font-size: 24px;
}

.edit-post-inline {
  display: none;
}

.delete-confirmation {
  display: none;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.posts-time {
  font-size: 14px;
  color: grey;
  text-align: left;
}

.dropbtn {
  background: none;
  color: black;
  font-size: 19px;
  border: none;
}

.dropdown {
  position: absolute;
  top: 5px;
  right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #E2A789;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #E2A789;}

#all-posts {
  margin-top: 20px;
  height: 600px;
  padding-bottom: 50px;
  border-radius: 18px;
  width: 60%;
  overflow-y: scroll;
  overflow-x: visible;
}

.form-control {
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

.pop_up_error_box {
  visibility: hidden;
  text-align: center;
  background: #ffffff;
  border: 3px solid black;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  position: absolute;
  left: 45%;
  top: 47%;
  z-index: 50;
  box-shadow: 5px 5px 2px grey;
}

.pop_up_error_box.active {
  visibility: visible;
  text-align: center;
  font-size: 18px;
  background: #e6b48f;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  position: absolute;
  left: 45%;
  top: 47%;
  z-index: 50;
  box-shadow: 5px 5px 2px grey;
}
