<div class="container">

  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>

  <p class="text-center">
    Do you have any questions? Please do not hesitate to contact us directly.<br>
    Our team will come back to you within a matter of hours to help you.
  </p>
</div>

<div class="container" align="center">

  <div class="field form-group col-md-4">
    <label for="name" class="">Your name</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="field form-group col-md-4">
    <label for="email" class="">Your email</label>
    <input type="text" id="email" name="email" class="form-control">
  </div>

  <div class="field form-group col-md-4">
    <label for="message">Your message</label>
    <textarea type="text" id="message" name="message" rows="3" class="form-control md-textarea"></textarea>
  </div>

  <div class="actions form-group col-lg-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>


<%# <div class="col-md-3">
    <p>London, WA 9999, UK</p>
    <p>+ 44 7543 222 22222</p>
    <p>contact@knowledgepill.com</p>
</div> %>
