<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "email" %>
</div>

<div class="text-field">

  <%= form.text_field :username, placeholder: "username" %>
</div>

<div class="password-field">
  <%= form.password_field :password, placeholder: "password" %>
</div>


<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg|%>
    <%= msg %>
  <%end%>
<%end%>
