<!-- begin col-6 -->
<div class="col-md-6 m-b-2">
  <div class="p-10 bg-white">
      <div class="media media-xs overflow-visible">
        <a class="media-left" href="javascript:;">
          <%= image_tag url_for(user.avatar) %>
        </a>
        <div class="media-body valign-middle">
            <b class="text-inverse"><%= user.username %></b>
        </div>
        <div class="media-body valign-middle text-right overflow-visible">
            <div class="btn-group dropdown">
              <a href="javascript:;" class="btn btn-default">Friends</a>
              <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                  <li><a href="javascript:;">Action 1</a></li>
                  <li><a href="javascript:;">Action 2</a></li>
                  <li><a href="javascript:;">Action 3</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:;">Action 4</a></li>
              </ul>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- end col-6 -->