<%# /users/:id/edit %>
<%= render "user_form" %>
<div class="actions form-group col-lg-2">
<%= button_to "Delete Profile Picture", @user, method: :delete, params: { delete_avatar: true }, class:"btn btn-primary btn-block py-2" %>
</div>

<div class="actions form-group col-lg-2">
<%= button_to "Delete Account", @user, method: :delete, class:"btn btn-primary btn-block py-2" %>
</div>
