<h3> Update your profile picture or other details </h3>
<h4> Remember to enter your password before hitting submit in order to save your updates</h4>
<%= form_for @user do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
