<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>


    <header>

        <!-- Image and text -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                      <img src="../../../public/facebuzz Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      FaceBuzz
                    </a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <div class="d-inline-flex p-2 bd-highlight">
                <a class="nav-item nav-link active" href="#"> Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link my-2 my-lg-0" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
                </div>
              </div>
            </div>
          </nav>


            </header>

            <div class="container">
            <div class="row row-no-gutters">
              <div class="col-lg-3">
                One of two columns

              </div>
              <div class="col-lg-9">
                Two of two columns
                <div class="media">
                  <a class="pull-left" href="#">
                    <img class="d-flex mr-3 img-fluid rounded-circle media-object img-responsive" src="../../../public/poki-2.jpeg" class="mr-3" height="50" width="50">
                  </a>
                    <div class="media-body">
                      <h5 class="mt-0">Media heading</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                      <div class="media mt-3">
                        <a class="mr-3" href="#">
                          <img class="media-object img-responsive" src="../../../public/poki-3.jpeg" class="mr-3" height="50" width="50">
                        </a>
                        <div class="media-body">
                          <h5 class="mt-0">Media heading</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>

</body>
</html>
