<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<% @users.each do |user| %>
<div class="user-card">
 <%= link_to user.email, user_path(user.id) %>
  <% if  (current_user.requested_friends.include?(user)) %>
    <%= link_to "View friend request.", user_friend_requests_path(current_user.id) %>
  <% elsif current_user.pending_friends.include?(user) %>
    Request pending...
  <% elsif user.friends_with?current_user %>
  <% elsif user != current_user %>
    <%= link_to "Add friend", user_addfriend_path(user) %>
  <% end %>
</div>
<% end %>
