<% provide(:title, 'Users') %>
<h1>Users</h1>

<table class="users">
    <% @users.each do |user| %>
    <tr><a href="users/<%=user.id%>"><%= gravatar_for user %><%= user.name %></a></tr>
    <% end %>
</table>
