<div class="container">
  <div class="container container title">
    <div id="scarer_list">list of Scarers</div>
  </div>

  <div class="container container users">
  <% @users.each do |user| %>
    <div class="scarer"><a href="wall/<%= user.id %>" ><%= user.username %></a></div>
  <% end %>
</div>
</div>
