<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <% @users.each do |user| %>
  <%= user.name %>
  <% end %>
  <form action="/sign-up" method="get">
  <input type="submit" name="sign_up" value="Sign Up">
  </form>
</body>
</html>