<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
    <header>

        <!-- Image and text -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                      <img src="../../../public/facebuzz Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      FaceBuzz
                    </a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <div class="d-inline-flex p-2 bd-highlight">
                <a class="nav-item nav-link active" href="#"> Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link my-2 my-lg-0" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </div>
                </div>
              </div>
            </div>
          </nav>


            </header>

  <div class="container">
    <!-- Content here -->

  </div>

</body>
</html>