<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
  <header>

      <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
              <!-- <li>
                 <img src="../../../public/facebuzz Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              </li> -->
              <li class="nav-item">
                  <a class="badge badge-pill badge-secondary text-light" href="#">Account Settings</a>
              </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
          <div class="navbar-brand mx-auto">
              <a class="navbar-brand" href="#"></a>
                <a class="badge badge-pill badge-secondary text-light" href="#">faceBuzz</a>
              </a>
          </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="badge badge-pill badge-secondary text-light" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

  </header>

  <div class="container">
    <!-- Content here -->

  </div>

</body>
</html>