<div class='users'>
    <% @users.each do |user| %>
        <div class='user'>
            <p>
            <%= user.email %>
            <%= link_to "Add friend", friendships_path(:friend_id => user.id), :method=> :post %>
            <p>
        </div>        
    <% end %>
</div>
