

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Spacebook!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="box">
    <%= button_to "Sign Up", new_user_path, method: 'get' %>
    <%= button_to "Sign In", new_session_path, method: 'get' %>
    </div>
  </body>
</html>

