

<%# <!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
   <div class="container">
    <%= form_for @user do |form| %>
    <%# <%= form.text_field :email %>
  <div class="box">

  <%= button_to "Sign Up", new_user_path, method: 'get' %>
  </div>
  <%# </body>
</html> %>