<div class="py-5 text-center">
<% provide(:title, 'Users') %>
<h2>Users</h2>
</div>

<ul>
    <% @users.each do |user| %>
      <li><a href="users/<%=user.id%>"><%= user.name %></a></li>
    <% end %>
</ul>
