<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
  <%= button_to "Sign Up", new_user_path, method: 'get' %>
  </body>
</html>
