<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<% @users.each do |user| %>
<div class="user-card">
 <%= link_to user.email, user_path(user.id) %>
  <% if (user != current_user) && !(user.friends_with?current_user) %>
    <%= link_to "Add friend", user_addfriend_path(user) %>
  <% end %>
</div>
<% end %>
