<div>

  <h1> Sign-up Form </h1>

  <div id="signup_form">
  <%= form_with url: users_path do |form| %>
    <%= form.text_field :email %>
    <%= form.text_field :password %>
    <%= form.submit "Create Account" %>
  <% end %>
  </div>

</div>
