<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Welcome to Acebook</h1>
            <p class="font-italic text-muted mb-0">Make new Friends and keep in touch with old ones. Sign up today.</p>
            <%# <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">
                <u>Bootstrapious</u></a>
            </p> %>
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
          <h2>Sign Up</h2><br/>
          <%= render 'form', user: @user %>

          <!-- <%= link_to "Log In", login_path, class:"btn btn-primary btn-block py-2" %>-->

         <%= link_to 'Back', users_path %>

        </div>
    </div>
</div>
