<div class="jumbotron jumbotron-fluid" id="jumbotron-welcome">
  <div class="main-container">

  <h1>Welcome to AceBook</h1>
  <h2>Please sign in</h2>

<%= render 'form', user: @user %>
<br>
<%= link_to 'Already a user? Log in', login_path, :class => "button btn btn-primary btn-md" %>
  </div>
</div>
