

<br>
<form action="/users" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="fullname">Name</label>
    <input type="text" class="form-control" name="fullname">
  </div>
  <div class="form-group col-md-6">
    <label for="dob">Date of birth</label>
    <input type="date" class="form-control" name="dob">
  </div>
</div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mob">Country of birth</label>
      <input type="text" class="form-control" name="cob">
    </div>
    
    <div class="form-group col-md-6">
      <label for="mob">Mobile number</label>
      <input type="number" class="form-control" name="mob">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up!</button>
  <%= flash[:notice] %>
</form>



