
<div class="profile">
  <%= image_tag("alium.jpg", :id => "profile-pic")%>
  <%= link_to "Friend List", friendships_path %>
</div>
<div class="profile"> <%= @user.username %> </div>
<%= render 'layouts/timeline' %>
