
<h1>Here's your timeline, <%= @user.name %></h1>



<%= link_to new_post_path do %>
  New post
<% end %>

<%= button_to "Feed", posts_path, method: 'get' %>
<%= button_to "Sign Out", destroy_session_path, method: 'delete' %>

