<% provide(:title, @user.name) %>
<div class="container is-fluid">
  <aside class="column is-one-quarter">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>