<h1 id="user-name-title"><%= @user.name %></h1>
<%= button_to('Home', root_path, method: :get, id: 'home-button') %>


<div class='timeline'>
  <%= render partial: "./posts/post", collection: @posts %>
</div>
