<div class="card jumbotron" style="width: 40rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-img-top">
    <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: "275x275").processed, class: "rounded-circle"%>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @user.email %> </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

