<% provide(:title, @user.username) %> 
<div class="row">
  <aside class="col-md-4"> 
    <section class="user_info">
      <h1>
       <%= image_tag(@user.avatar) if @user.avatar.attached? %>
       <%= @user.username %>
      </h1> 
    </section>
  </aside>
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>
