User: <%= @user.email %>

<div class="add-friend">
  <% if @user.id != current_user.id %>
  <%= link_to "Add friend", user_addfriend_path(@user) %>
  <% end %>
</div>

<div class="current-user-friends">
  Friends:
  <%= current_user.friends %>
</div>
