<h1>Asians vs Caucasians</h1>

<p>Welcome <%= @user.username %>!</p>

<p>You have a strong ethnicity, <%= @user.ethnicity %></p>

<p>
<%= @user.ethnicity == 'asian' ? 'DEATH TO THE WEST' : 'DEATH TO THE EAST' %>
</p>