
<% provide(:title, @user.name) %>

<div class="column is-half is-offset-one-quarter">
  <div class="card p-5 m-5">
    <h1 class="title has-text-centered"> <%= @user.name %> </h1>
      <p class="image is-400x400">   
      <%= gravatar_for @user%>
      </p>
  </div>
</div>