<%# /users/:id %>

<%= @user.username %>
<h1>Courses</h1>
<% if @courses %>
  <%= render @courses %>
<% else %>
  <p>This user hasn't made any courses yet!</p>
<% end %>
<h1>Subscriptions</h1>
<% if @subscriptions %>
  <%= render @subscriptions %>
<% else %>
  <p>This user hasn't subscribed to any courses yet!</p>
<% end %>