<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <!-- link to profile page  -->
    </section>
      <!-- links to user profiles from profile photos? -->
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <p><%= user.name %></p>
        <% end %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
