<h1>
  Welcome, <%= @user.firstname %>
</h1>

<h2>
  <p> Type of Animal: </p>
  <p> Age: </p>
  <p> Owner: </p>
</h2>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </br></br>

<%= link_to "Newsfeed", posts_path %> </br>

<%= link_to "Edit profile", edit_user_path(current_user) %> </br>
