<h1 class="columns text-weight-is mt-3 is-centered is-family-code is-size-2 has-text-info-dark"><%= User.find(params[:id]).name %>'s profile page</h1>

<% if current_user != nil && current_user.id != params[:id].to_i && !current_user.friends_with?(User.find(params[:id])) %>
  <% if !current_user.pending_friends.map{|fr| fr.id}.include?(params[:id].to_i) && !current_user.requested_friends.map{|fr| fr.id}.include?(params[:id].to_i) %>
    <%= link_to 'Add as friend', method: current_user.friend_request(User.find(params[:id])) %>
  <% end %>
<% end %>

<%= render 'shared/posts_cards' %>
