<li class="activities-list">

  <% if a.trackable %>
    <%= a.created_at.strftime("%e %B %Y %H:%M") %> <%= a.trackable.user.first_name %> (<%= a.trackable.user.username%>) created a post
  <% else %>
    A post that is currently deleted was added.
  <% end %>
</li>
