<li class="activities-list">

  <% if a.trackable %>
    <%= a.created_at.strftime("%e %B %Y %H:%M") %> Post was created 
  <% else %>
    A post that is currently deleted was added.
  <% end %>
</li>
