<% content_for :head do %>
  <%= stylesheet_link_tag "shared/_add_content" %>
<% end %> 
 
 <div class="container-fluid">
    <div class="form-group">
      <%= form_for @post, remote: true do |form| %>
        <%= form.text_area :content, class: "form-control", rows: 3, placeholder: "Compose new post" %>
        <%= form.submit "New Post", id: "submit_post", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>