<nav class="navbar">
    <%= link_to "AceBook", root_path %>
    <ul class="menu">
        <li class="menu-item">
            <%= link_to "Home", root_path, class: "menu-item" %>
        </li>
    </ul>
</nav>
