

<div id="navbar">
  <button><%= link_to 'Home', profiles_path %></button>
  <button><%= link_to 'My Page', profile_path(current_user) %></button>

  <button><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
</div>
