

<div id="navbar">
  <button><%= link_to 'Home', users_homepage_url %></button>
  <button><%= link_to 'My Page' %></button>

  <button><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
</div>
