<% @posts.each do |post| %>
  <div class="post">
    <div class="container-fluid" onclick="location.href='<%= post_path(post.id) %>';">
      <% user = User.find(post.user_id)%>
      <div class="profile_pic">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
      </div>
      <div class="post-text">
        <div class="user_details">
          <%= link_to "@#{user.username}", user_path(user.id) %>
        </div>
        <div class="post_content">
          <%= post.content %>
        </div>
      </div>
      <div class="interactions">
      </div>
    </div>
  </div>
  <% end %>