<% content_for :field, flush: true do %>
  <!DOCTYPE html>
  <html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <br>
    <br>
    <h1>Spacebook</h1>

    <% if user_signed_in? %>
    <p style="background-color:DarkOrchid;width:25%;margin:10px;text-align:center;color:white;"> Welcome <%= current_user.first_name + " " + current_user.surname %> </p>
    <% end %>

  </body>
  </html>
<% end %>