<div class="columns text-weight-is mt-3 is-centered is-family-code">
<% if user_signed_in? %>
<h1 class="is-size-1">Welcome to SCZL <%= current_user.name %></h1>
<% else %>
<h1 class="is-size-1">Welcome to SCZL Stranger</h1>
<% end %>
</div>
