<h1>Welcome to lizardBook</h1>

<form action="/">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="text" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form>
<br>
<br>
<form action="/users/new">
  <input type="submit" value="Create Account">
</form>
