<h1>Home#index</h1>
<h2> it be melike that! </h2>
<%= link_to new_user_session_path do %>
    Sign in
<% end %>

<%= link_to new_user_registration_path do %>
    Sign up
<% end %>

<p>Find me in app/views/home/index.html.erb</p>
