<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to lizardBook</h1>

    <%= render template: "sessions/new" %>

    dont have an account?, create one now!


    <form action="/users/new">
      <input type="submit" value="Create Account" class="btn btn-info">
    </form>

  </body>
</html>
