<!doctype html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <center>
      <img src="/dash.png" alt="The Team" height="900" width="900">
      <p>Copyright © 2019, Dashbook </p>
      <p>You can find the GitHub repo for this project <a href="https://github.com/mattfreeman-london/acebook-AceofBaseBook" style= "color: white">here</a>
    </center>
  </body>

</html>
