<html>
<center>
<img class="main-image" src=assets/Distinguished-Ferret.png>
<% if current_user %>
<h2 class ="acebook">Welcome <%=current_user.username%>!</h2>
<% else %>
<h2 class ="acebook">Welcome to Acebook!</h2>
<% end %>

<p>
  The time is now <%=Time.now%>
  </p>
  </center>


</html>
