<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  Welcome to Acebook
  <form action="">Log in
    <input type="text" placeholder="email">
    <input type="password" placeholder="password">
    <input type="submit" value="Log in">
  </form>

  <form action="">Sign up
    <input type="text" placeholder="First name">
    <input type="text" placeholder="Last name">
    <input type="text" placeholder="email">
    <input type="password" placeholder="password">
    <input type="submit" value="Sign up">
  </form>

</body>
</html>
