<h1>Hello Acebook!</h1>
<%= link_to 'View Posts', controller: 'posts' %>

<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
