<html>

<center>
<img class="main-image" src=assets/Distinguished-Ferret.png>
<% if current_user %>
<h2 class ="acebook">Welcome <%=current_user.user_name%>!</h2>
<% else %>
<h2 class ="acebook">Welcome to Acebook!</h2>
<% end %>

<p>
  <%=Time.now.strftime('%H:%M')%>
  <br>
  <%=Time.now.strftime('%d:%m:%Y')%>
</p>
</center>


</html>
