<h1>Welcome to AceBook<h1>

<h3>Click Below to Sign Up<h3>
<%= button_to "Sign Up", new_user_path, method: :get %>

<h3>Sign In<h3>
<form action="/posts" method="post">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <input type="submit" value="Sign In">
</form>