<h1>Sign Up</h1>

<%# change method to posts & set up redirect route %>
<form action="/posts" method="get">
<label for="Email">Email:</label>
   <input type="text" name="Email" placeholder="example@example.com"><br>
<label for="Password">Password:</label>
   <input type="text" name="Password" placeholder="Between 6-10 characters"><br>
  <input type="submit" value="Submit">
</form>