<h1>Welcome to Acebook!</h1>
<h2>Feed your self-validation demon!!!</h2>

<%= link_to 'Go to Posts page', posts_path %>
<br>
<ul class="hmenu">
  <%= render 'registration' %>
  <%= render 'login' %>
</ul>
<%= yield %>
