
<header>
  <nav class='site_nav'>
    <ul>
      <li><%= link_to('Sign up', new_user_registration_path, :method => 'get') %></li>
      <li><%= link_to('Log in', new_user_session_path, :method => 'get') %></li>
      <li><%= link_to('Sign out',  destroy_user_session_path, :method => 'delete') %></li>
    </ul>
  </nav>
</header>



<h1>Welcome to DashBook</h1><br>
