<% if user_signed_in? %>
<h1>Hello <%= @user %>! You are now signed in</h1>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
<h1>Hello, Please sign in</h1>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>