<table>


    <% if signed_in? %>
        <tr>
            <td>
                <%= link_to 'posts', posts_path %>
            </td>
            <td>
                <%= link_to 'add new post', new_post_path %>
            </td>
        </tr>
    <% else %>
                <%= link_to 'Sign up', sign_up_path %>  
    <%end%>

</table>
<h1>Hello Acebook user!</h1>