<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <h1 class="glow">Welcome to DashBook!</h1>
    <center>
      <img src="/team-pic.jpeg" alt="The Team" height="500" width="750">
    </center>
    <p>Amy, Faduma, Alex, Matt</p>
    <p>You can find the GitHub repo for this project <a href="https://github.com/mattfreeman-london/acebook-AceofBaseBook">here</a>
  </body>
</html>
