

    <%= flash[:not_logged_in_error] %>
<div class="sign_grid">

    <div class="welcome_menu container">

        <p>Click below to log in </p>
        <div align="center" class="button button2">
            <a href= "login"> Log in </a>
        </div>

        <p>Click below to Sign up </p>
        <div align="center" class="button button2">
            <a href= "users/new"> Sign Up </a>
        </div>

    </div>

    <div class="welcome_text">
        <h1>Welcome</h1>
        <h1>to</h1>
        <h1>Acebook</h1>
    </div>

</div>