<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <h1>Welcome to DashBook!</h1>
    <img src="/public/team-pic.jpeg" alt="The Team" width="128" height="128">

  </body>
</html>
