<div class="row">
 <div class="col-sm-4 offset-md-4 text-center">
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Welcome to Acebook!</h5>
       <p class="card-text">Login or Register below:</p>
<%= link_to users_url do %>
  Log In
<% end %>
<br/>
<%= link_to new_user_path do %>
  Register
<% end %>
     </div>
   </div>
 </div>
</div>
