<html>

<center>
<img class="ferret-image" src=http://blog.ferretcard.com/wp-content/uploads/2012/07/Distinguished-Ferret-300x300.png>
<% if current_user %>
<h2 class ="acebook">Welcome <%=current_user.username%>!</h2>
<% else %>
<h2 class ="acebook">Welcome to Acebook!</h2>
<% end %>

<p>
  <%=Time.now.strftime('%H:%M')%>
  <br>
  <%=Time.now.strftime('%d:%m:%Y')%>
</p>
</center>



</html>
