<body>
  <h1 class="mt-5">Welcome to Pipeface</h1>
  <h2>
  <p class="lead">Please sign in or register to continue.</p>
  <ul class="list-unstyled">
    <li>Where pipe dreams come true!</li>
    <li> Pipe Dream Team</li>
  </ul>
</h2>
</body>
