

    <%= flash[:not_logged_in_error] %>

    <h1>Welcome to AceBook </h1>

<div class="container">

    <p>Click below to log in </p>
    <div align="center">
        <a href= "login"> Log in </a>
    </div>

    <p>Click below to Sign up </p>
    <div align="center">
        <a href= "users/new"> Sign Up </a>
    </div>

</div>