<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="page-header d-flex justify-content-center">Welcome to Charlie's Angels </h1>
      <hr>
      <ul class="list-inline d-flex justify-content-center">
        <li class="list-inline-item"> <%= link_to "Log in", sessions_new_path, class: "btn btn-primary btn-xs" %> </li>
        <li class="list-inline-item">or</li>
        <li class="list-inline-item"> <%= link_to "Sign up", new_user_path, class: "btn btn-primary btn-xs"%> </li>
      </ul>
      <div class="clearfix">

      </div>
      <hr>
    </div>
  </body>
</html>
