<html>


<center>
<img class="main-image" src=assets/Distinguished-Ferret.png>
<% if current_user %>
<h2 class ="acebook">Welcome <%=current_user.user_name%>!</h2>
<% else %>
<h2 class ="acebook">Welcome to Acebook!</h2>
<% end %>

<p>
  <iframe src="http://free.timeanddate.com/clock/i70h0fgd/n136/szw110/szh110/hocddd/hbw0/hfc009/cf100/hnce1ead6/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhcfff/mhl15/mhw4/mhd100/mmc000/hhcff9/hmcff9" frameborder="0" width="110" height="110"></iframe>

  </p>
  </center>


</html>
