<div class="row">
<div class="col-7">
    <%= image_tag("welcome2.png", alt: "welcome", style: "width: 600px;") %>
  </div>
      <div class="col-5">
 
            <div class="sign-up-form p-4 mb-2">
              <h1 >Join the buzz gang!</h1>
              <form>
                <div class="form-row pt-3">
                  <div class="form-group mr-2 col">
                    <input type="text" placeholder="First Name" class="form-control" >
                  </div>
                  <div class="form-group col">
                    <input type="text" placeholder="Last Name" class="form-control" >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group mr-2 col">
                    <input type="text" placeholder="Username" class="form-control" >
                  </div>
                  <div class="form-group col">
                    <input type="email" placeholder="Email Address" class="form-control" >
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group mr-2 col">
                    <input type="password" placeholder="Password" class="form-control" >
                  </div>
                  <div class="form-group col">
                    <input type="password" placeholder="Confirm Password" class="form-control">
                  </div>
                </div>
                <button class="btn btn-primary">Sign Up</button>
              </form>
        </div>
      </div>
</div>
