<h1>Welcome to Acebook!</h1>

<form action="/">
  <label for="email_address">Email Address:</label><br>
  <input type="email" id="email_address" name="email_address" required><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" minlength="6" maxlength="10" required><br><br>
  <input type="submit" value="Sign up">
</form> 
