<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1 class="mt-5">A Bootstrap 4 Starter Template</h1>
<p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
<ul class="list-unstyled">
  <li>Bootstrap 4.5.3</li>
  <li>jQuery 3.5.1</li>
</ul>