<h1>Welcome to AceBook</h1>
<h3>Log In</h3>
<form action="/sign-in" method="POST">
  <label>Enter Your Username</label><br>
  <input type="text" id="username"><br>
  <label>Enter Your Password</label><br>
  <input type="password" id="password"><br>  
  <input type="submit" name="submit" id="submit_sign_in" value="Sign In">
</form>

<h3>Sign Up</h3>
<form action="/sign-up" method="post">
<label>Enter A Username</label><br>
<input type="text" id="username"><br>
<label>Enter A Password</label><br>
<input type="password" id="password"><br>  
<label>Please Confirm Your Password</label><br>
<input type="password" id="password"><br>  
  <input type="submit" name="submit" id="submit_sign_up" value="Sign Up">
</form>
