<%# Friendships controller: Requests: @blocked %>

<% blocked.each do |user| %>
  
  <%# Displays each blocked user %>
  <div class="friends-name"><a href="/users/<%=user.id%>"><%= user.first_name %> <%= user.last_name %></a></div> 
   
 <%# Unblocks a blocked user  %>
 <div class="friends-buttons">
  <%= link_to unblock_friendship_path(user.id), method: :put do %> 
    <button type="button" class="btn btn-danger btn-sm" style="font-size: 0.6em;">Unblock</button>          
  <% end %></div>
         
<% end %>
