

<%# Friends request button for Nav Bar %>
<%if current_user.requested_friends.size >= 1 %>
<%# Displays Friends Requests and number of requests %>
    <%= link_to requests_user_path(current_user), method: :get do %> 
      <link>Friend Requests<span class="badge"><%= current_user.requested_friends.size %> </span></link>
     <% end %> 
  <%else%>
  <%# Displays 'view friends' if no pending friend requests %>
   <%= link_to requests_user_path(current_user), method: :get do %> 
      <link>View Friends</link>
  <%end%>
<%end%>