<%if user.requested_friends.include?(current_user)%>

<%= link_to unfriend_friendship_path(user_id), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="btn btn-secondary btn-sm">Cancel Friend Request</button> </p>
         </div>
<% end %>
<%elsif user.pending_friends.include?(current_user)%>

<%= link_to accept_friendship_path(user.id), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="btn btn-primary btn-sm">Accept</p>
         </div>
<% end %>


<%elsif !user.friends_with?(current_user)%>
<%= link_to addfriend_friendship_path(user_id), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="btn btn-info btn-sm">Add Friend</button> </p>
         </div>
<% end %>

<%else%>
<%= link_to unfriend_friendship_path(user_id), method: :put do %> 
        <div class="engagement"> 
        <p> <button type="button" class="btn btn-secondary btn-sm">Unfriend</button> </p>
         </div>
<% end %>
<%end%>