<h1>Your Friends</h1>
  <h1>who was made a friend</h1>
<% @friendship.each do |friend| %>
  <tr>
    <% if current_user === friend.user %>
    <td><%= friend.friend.username %></td>

  <% end %>
  <h2>Users Who Have Befriended You</h2>
<ul>
  <% friendships.inverse_friends.each do |requestors| %>
  <li><%= p "something" %></li>
  <% end %>
</ul>
<% end %>
