



<%# Renders friends requests that are pending if there are any %>
<%if current_user.requested_friends.size >= 1 %>
<h2>Pending Friend Requests</h2>
  <%= render :partial => "/friendships/pending", locals: { pending: @pending}%> <br>
<%end%>

<h2>Friends</h2>

<%# Renders accepted friends %>
  <%= render :partial => "/friendships/friends", locals: { friends: @friends}%> <br>

<h2>Blocked</h2>

<%# Renders blocked friends %>
  <%= render :partial => "/friendships/blocked", locals: { blocked: @blocked}%> <br>