<div class="text-center">
  <h1>Your Friends</h1>
</div>
<ul>
  <% @friend_to.each do |friendship| %>
    <li><strong><%= link_to "#{friendship.friend.username}", user_path(friendship.friend), controller: 'users', style: "color: black;" %></strong> -
    <i>friend from: <%= friendship.created_at.strftime("%d/%m/%Y")%></i></li>
  <% end %>
  <% @friend_from.each do |friendship| %>
    <li><strong><%= link_to "#{friendship.user.username}", user_path(friendship.user), controller: 'users', style: "color: black;" %></strong> -
    <i>friend from: <%= friendship.created_at.strftime("%d/%m/%Y")%></i></li>
  <% end %>
</ul>
