<div class='row'>
  <div class='col-xs-3'>
    <div class="panel panel-default">
     <div class="panel-body">
      <p> left </p>
     </div>
    </div>
  </div>



<div class='col-xs-6'>
  <div class="panel panel-default">
     <div class="panel-body">
       <p> middle </p>
     </div>
  </div>
</div>


  <div class='col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
    <p> right </p>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-xs-3'>
    <div class="panel panel-default">
     <div class="panel-body">
      <p> trend left </p>
     </div>
    </div>
  </div>
