<h1>DASHBOARD</h1>
<% if student_signed_in? %>
  <%= link_to 'Log out', destroy_student_session_path, method: :delete %>
<% end %>
<% if mentor_signed_in? %>
  <%= link_to 'Log out', destroy_mentor_session_path, method: :delete %>
<% end %>

<% if student_signed_in? %>
    <p>I'm a Student</p>
<% end %>

<% if mentor_signed_in? %>
    <p>I'm a Mentor</p>
<% end %>