<h1 class="welcome">Welcome to Acebook</h1>
<%= flash[:notice] %>

<form  action="users/sign_up" method="get">
  <input type='submit' id='Sign up', value='Sign up'>
</form>


<form class="" action="users/sign_in" method="get">
  <input type="submit" id="Log in" value="Log in">
</form>
