<% content_for :top_content do %>
  <div class="jumbotron">

    <h1>Welcome to Acebook!</h1>


    <% if user_signed_in? %>
      <%= render('partials/posts', posts: @posts) %>
      <%= link_to new_user_post_path(current_user) do %>
        <p>New post</p>
      <% end %>
    <% else %>
      <div class="container">
        <p>Register to get started</p>
        <p><%= link_to 'Register Now', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    <% end %>

  </div>
<% end %>
