<div class='row'>

  <div class='jumbotron'>

    <%= @username %>

    <P> Cover picture </p>

</div>





<div class='row'>
  <div class='col-xs-3'>
    <div class="panel panel-default">
     <div class="panel-body">
      <p> Profile picture </p>
     </div>
    </div>
  </div>

  </div>

<div class='col-xs-6'>
  <div class="panel panel-default">
     <div class="panel-body">
       <div id="timeline"

     </div>
  </div
</div>


  <div class='col-xs-3'>
    <div class="panel panel-default">
      <div class="panel-body">
    <p> Something relevant here </p>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-xs-3'>
    <div class="panel panel-default">
     <div class="panel-body">
      <p> Another relevant topic here </p>
     </div>
    </div>
  </div>
