<body>
  <h1>Welcome to aceBook.</h1>
  <section>
    <form action="#" method="post">
        <input type="text" id="First name" name="user_name" placeholder="First Name">
      <input type="text"
             id="Last name" name="user_name" placeholder="Last Name">
        <input type="text" id="email" name="user_email" placeholder="E-mail">
        <input type="text" id="password" name="user_password" placeholder="Password">
      <input type="text" id="passwordconfirm" name="user_confirmpassword" placeholder="Password confirmation">
      <span href=" " id="hidePassword">Hide Password</span>
        <button type="submit" id="signUp">Sign Up</button> -->
        <p
      <!-- <p>Already a member? <a href="#" id="login">Already a member? Log in</a></p>
    </form>
  </section>
</body>
