<nav>
  <div id="header-logo">
    <!-- <img height="100%" src="https://i.imgur.com/ZKxKVt5.png" /> -->
  </div>
  <div id="header-right">
    <div class="header-search">
      <div>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div id="header-search-input">
        <div style="overflow: hidden; width: 100%; height: 100%;">
          <input type="text" placeholder="Search..." id="searchInput"/>
        </div>
        <div id="quickResultsCont">
          <div class="quickResults">
            <div class="quickResultsItems">
              <ul>
                <li>
                  <div class="searchImg">
                    <img src="https://unsplash.it/30/30">
                  </div>
                  <div class="searchSpan">
                    Athlete 1
                    <br>
                    <span style="font-size: 12px;">Sport | Position</span>
                  </div>
                </li>
                <li>
                  <div class="searchImg">
                    <img src="https://unsplash.it/30/31">
                  </div>
                  <div class="searchSpan">
                    Athlete 2
                    <br>
                    <span style="font-size: 12px;">Sport | Position</span>
                  </div>
                </li>
                <li>
                  <div class="searchImg">
                    <img src="https://unsplash.it/31/30">
                  </div>
                  <div class="searchSpan">
                    Athlete 3
                    <br>
                    <span style="font-size: 12px;">Sport | Position</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav pointer">
      NEWSFEED
    </div>
    <div class="header-nav pointer">
      EXPLORE
    </div>
    <div class="header-seperator"></div>
    <div class="header-icon">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </div>
    <div class="header-profile">
      <div class="header-profile-image pointer">
        <img src="https://unsplash.it/35/35" />
      </div>
      <ul class="header-proifle-dropdown">
        <li class="header-profile-dropdown-item pointer">
          Item 1
        </li>
        <li class="header-profile-dropdown-item pointer">
          Item 2
        </li>
        <li class="header-profile-dropdown-item pointer">
          Item 3
        </li>
      </ul>
    </div>
  </div>
</nav>
