<!DOCTYPE html>
<html lang="en">



<!--  Page header -->
<head>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
<h1 class="username"><%= @username %></h1>
<div><%= link_to "Acebook", posts_path, class: "title no-underline " %></div>

<!--  Write new post button -->
<center>
  <form action="/posts/new" method="GET">
    <button style="background-color:#643F47; color: white; padding: 15px 32px; text-align: center;">
      WRITE NEW POST
    </button>
  </form>
</center>


<!--  Separate posts with outline boxes -->
<div>
    <% @posts.each do |post| %>
        <div class="post-box">
            <p>
                <%= simple_format(post.message).html_safe %>
            </p>
        </div>
    <% end %>
</div>


</body>
</html>


<!--  Formatting for each class -->
<style>

body {
    font-family: 'Roboto';
    font-size: 15px;
    background-color: #191B1E;
}
.custom-btn{
    background-color:#643F47; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
}

.username {
    color: #C28A6A;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.title {
    color: #C28A6A;
    font-size: 40px;
    text-align: left;
    padding: 10px;
}

.post-box {
    border-color: white;
    border-width: thin;
    border-style: solid;
    color: white;
    text-align: center;
    margin: 20px; <!--  Add spacing between posts -->
    padding: 20px; <!--  Add padding to the posts -->
    border-radius: 15px;
}
.btn{
  width: 80%;
  background-color: #643F47;
  color: white;
}
.btn:hover {
  background-color: #C28A6A; /* Change to your desired hover background color */
  color: #fff; /* Change to your desired hover text color */
}
.no-underline {
  text-decoration: none;
}
</style>

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>

