<h1><%= @user.name %>'s Albums </h1>

<p class="lead"><%= link_to "New Album", new_user_album_path(current_user), class: 'btn btn-primary' %>

<% @albums.reverse.each do |album| %>
  <%= link_to user_album_path(current_user, album) do  %>
    <span id='album-name'><strong><%=simple_format(album.name) %></strong></span>
  <% end %>
<% end %>
