<h1> Upload Photos </h1>

<%= form_tag("/albums/#{params[:id]}/photo", method: "post") do %>
  <%= label_tag(:photos, "Upload a photo:") %>
  <%= file_field_tag(:photos) %>
  <%= submit_tag("Upload") %>
<% end %>
