<p id="notice"><%= notice %></p>

<h2><%= @album.title %></h2>

<p><% @photos.each do |photo| %>
    <section><%= link_to image_tag(photo.image, width: '200px'), photo.image.url %></section>
  <% end %></p>
