<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="mx-auto">
      <h1 class="text-center mt-2 mb-4">User doesn't exist</h1>
      <%= image_tag("cat-404.jpg", alt: "User not found", style: "width: 400px;") %>
    </div>
  </div>
</div>
