<div id='error_status'>
  <h1> This is not the page you're looking for </h1>
</div>

<div id='not_found_div'>
  <%= image_tag('not_found_wookie.jpg', id:'not_found_pic') %>
</div>

<%= audio_tag("not_found_audio.mp3", id: "not_found_audio") %>
