<h1>chat room</h1>

<div id="messages" class="overflow-auto">
  <%= render @messages %>
</div><br>

<form id="add_message">
  <input type="text" data-behavior="room_speaker" id="write_message">
  <input type="submit" value="scream!" >
</form>