.login-button {
  background-color: #38A1F3;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

#not-logged-in {
  text-align: center;
}

body {
  font-family: 'Questrial', sans-serif;
}

