@import 'https://use.fontawesome.com/releases/v5.0.10/css/all.css';

.post-message {
  white-space: pre-wrap;
}

.cards-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  width: 100%;

  margin-right: 10px;
  max-height: 505px;
  overflow: auto;

  background-color: #f5f6f7;
}
.post-message {
  float: left;
  margin-left: auto;
  margin-bottom: 5px;
  text-align: justify;
}

.username{
  float: left;
  margin-left: auto;
  margin-bottom: 5px;
}

.post-time{
  font-size: 10px;
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}
.card-body {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.btn-delete{
  background-color: #f5f6f7;
}

.btn-edit {
  background-color: #f5f6f7;
}

.btn-unlike{
  background-color: #f5f6f7;
  padding-top: 15px;
}

.btn-like{
  background-color: #f5f6f7;
  padding-top: 15px;
}

.new-post-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.btn-new-post {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  width: 100%;

  margin-right: 10px;
  max-height: 505px;
  overflow: auto;

  background-color: #f5f6f7;
  text-align: center;
}

.likes-count{
  float: right;
  margin-left: 5px;
}

.update{
  color: #337ab7;
  max-width: 0;
  margin-bottom: 0;
  font-weight: normal;
}

div.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  text-align: center;
}
