<%= render 'shared/nav' %>









<div class="row">
  <div class="col-sm">
    </div>
    <div class="col-sm">
      <h1>Change your Avatar</h1>
      <br>
      <%= render 'form', avatar: @avatar %>

      </div>
      <div class="col-sm">
        </div>

      </div>
