<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">Sorry!</h3>
 </div>
 <div class="modal-body">
   It's too late to edit your posts!
 </div>
 <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
 </div>
