<br> <br> <br> <br>
<footer class="footer">
  <div class="container ">
  <div class="row">
    <div class="">
     
            <p class="d-flex justify-content-center"><strong>Developed by:</strong> </p>
          
         <p class="d-flex justify-content-center">
            ♤
          <a href="https://github.com/camilla000" target="_blank"><i class="fab fa-github-square fa-sm">  </i>Camilla</a> 
          ♤
          <a href="https://github.com/jooomin" target="_blank"><i class="fab fa-github-square fa-sm"> </i>JooMin</a> 
          ♤
          <a href="https://github.com/OptimusWall-E" target="_blank"><i class="fab fa-github-square fa-sm"> </i>Misha</a> 
             ♤
          <a href="https://github.com/coo990" target="_blank"><i class="fab fa-github-square fa-sm"> </i>Chuka</a> 
            ♤
          <a href="https://github.com/Ashley-Slaney" target="_blank"><i class="fab fa-github-square fa-sm"> </i>Ashley</a> 
           ♤
          <a href="https://github.com/craigea92" target="_blank"><i class="fab fa-github-square fa-sm"> </i>Craig</a>
           ♤ 
    <p>

 

 
    <p class="d-flex justify-content-center"><strong>Check Our Repo:</strong></p>
    <p class="d-flex justify-content-center">
      <a href="https://github.com/Ashley-Slaney/acebook-smells-like-team-spirit" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
    </p>
      
      
    </div>
  </div>
       
    
    
  </div>
</footer>
