<div class="mx-auto" style="width: 300px;">
    <%= form_with model: @post, local: true do |form| %>
        <%= form.label "Your Post" %><br>
        <%= form.text_area :content, class: "form-control text-center" %></p>
        <%= form.submit class: "btn btn-primary" %></p>
    <% end %>
</div>

