<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form| %>

  <p>
    <%= form.text_field :post_content %>
  </p>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
