<div class="form-group">
<%= form_with model: @post, local: true do |form| %>
    <p class="form-control"><%= form.label :content %><br>
       <%= form.text_area :content %></p>
    <p class="btn btn-primary"><%= form.submit %></p>
<% end %>
</div>