<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <% @post.errors.full_messages.each do |message| %>
      <% end %> 
    </div>
  <% end %>
          <div class="d-flex align-items-center">
    <%= form.text_field :message, placeholder: "What's on your mind, #{current_user.firstname}?" %>
        <button type="submit" name="commit" value="Post" class='btn-sm btn btn-primary'>Post</button>
<div class="mt-1">
     <label class="custom-file-upload">
      <%= form.file_field :image %> 
      <i class="far fa-image fa-lg"></i>
    </label>
    </div>
        </div>

  
  <% end %>



