
 <%# Post edit button %>
<%= link_to edit_post_path(post.id), :method => :get do %>
  <button type="button" class="btn btn-primary btn-sm">edit</span></button>           
<% end %> 

<%# Post delete button %>
<%= link_to post, :method => :delete do %> 
  <button type="button" class="btn btn-primary btn-sm">delete</span></button>        
<% end %> 