<div class="container mt-5 mb-5 ">
  <div class="row d-flex align-items-center justify-content-center">

    <h1>Editing Post</h1>
    <%= render 'form', post: @post %>
    <%= link_to 'Back', posts_path %>

    </div>
</div>
