<%= form_for @post, method: :patch do |form| %>
  <p>
    <%= form.label :message %>
    <%= form.text_field(:message, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= form.submit('Submit', {:class => 'btn btn-primary'}) %>
  </p>
<% end %>
