<!DOCTYPE html>
<html>
<body>
<h1>Edit Posts</h1>
 
  <%= form_for @post do |form| %>
    <%= form.label :message %>
    <%= form.text_field :message, :maxlength => 500, :size => 40 %>

    <%= form.submit %>
  <% end %>
  
  <script>
    console.log("Hi")
  </script>
</body>
</html>
