<div class="container" style="width: 60%">
<div class="jumbotron">
<h1>Editing Post</h1>

<%= form_for @post, html: {multipart: true} do |form| %>
  <p><%= form.text_area :message, :cols => 40, :rows => 5, class:"form-control" %></p>
  <%= form.submit "Submit", class:"btn btn-primary" %>
  <br>
  <br>
  <%= link_to 'Back', posts_path %>
<% end %>
</div>
</div>
