
<% if user_signed_in? %>


<%= render 'shared/nav' %>


Welcome to whateverweregonnacallit!


<%else %>
 <p>Please Sign Up or Sign In to view the content.</p>

 <h2><%= link_to "Sign up", new_user_registration_path%>

<% end %>
