
<% if user_signed_in? %>


<%= render 'shared/nav' %>


Welcome to whateverweregonnacallit!


<%else %>
<div class="container">
  <div class="text-center">
    <h1>Please Sign Up or Sign In to view the content.</h1>
    <h2><%= link_to "Sign up", new_user_registration_path%>

<% end %>
</div>
</div>
