<h1> Your posts </h1>

<div class='d-fex flex-column -bd-highlight mb-3'>
<% @posts.each do |post| %>
  <div class="list-group">
    <div class='p-2 bd- hinglight'>
    <h3><%= post.message %></h3>
    <div class='d-flex justify-content-end'>
    <%= link_to "Read More", post_path(post), :class => 'btn btn-outline-primary btn-sm' %>
    <%= link_to "Update", edit_post_path(post), :class => 'btn btn-outline-primary btn-sm'  %>
    </div>
    </div>
    </div>
  <% end %>
</div>


<%= link_to new_post_path do %>
  New post
<% end %>
