<%= link_to new_post_path do %>
  <span class="new-post">
New post</span>

<% end %>
<div class="main-container">
<div class="postbox">
<% @posts.each do |post| %>

  <div class="post"><%= simple_format(post.message) %> <br><span class="date">updated on <%= post.updated_at.strftime("%d-%m-%Y") %></span><% if current_user.id == post.user_id %><button type="submit" name="button" class="edit">Edit</button><% end %></div>

<% end %>
</div>
</div>
