<% @posts.each do |post| %>
  <div class="box">
    <p><%= post.message %></p>
    <p><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
