<% @posts.each do |post| %>
  <p><%= post.message %> <%= button_to "Delete Post", { :action => 'destroy', :id => post.id }, :method => :delete %> </p> 
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
