
<% if user_signed_in? %>
  <h1>Hello <%= current_user.email %>! You are now signed in</h1>
  <p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>    
<% end %> 
<br>
<br>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_user_post_path(@user) do %>
  New post
<% end %>
