<h1>HELLO WORLD! I'M VERY DISENCHANTED WITH THIS ENTIRE PROCESS</h1>
<div>
  <% @posts.each do |post| %>
    <p><%= post.message %></p>
  <% end %>
</div>

<div>
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>
