<%# This is the CSS which creates the line break %>
<style>
  /*p.post is a paragraph class assigned to the white space in the feed */
  p.post {
    white-space: pre-line;
  }
 </style> 


<% @posts.each do |post| %>
  <p class="post"><%= post.message %></p>
  <p class="time"><%= post.created_at.strftime("%d/%m/%Y" + "  " + "%k:%M %p") %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
