  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AceBook</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">My Posts</a></li>
      </ul>
    </div>
  </nav>
<% @posts.each do |post| %>
  <p><%= post.message %></p> <%= post.created_at.strftime("%m/%d/%Y") %> Testing Travis/Heroku integration</p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
