<div>
<% @posts.order(created_at: :desc).each do |post| %>

  <p><%= render partial: "line_breaks", locals: {post: post} %></p>

  <p><%= post.created_at.strftime('%e %B at %H:%M') %></p>

  <p>Heroku deployment test</p>
  
<% end %>
</div>
<%= link_to new_post_path do %>
  New post
<% end %>
