<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<%# Header - company name, logo %>
    <%# user info / logged in confirmation %>
    <%# user photo / thumbnail %>
<%# posts %>
    <%# username of post %>
    <%# time + date of post %>
    <%# posts space out and stand out %>
<%# footer - ts and cs %>
