<%# TIMELINE %>
<% content_for :head do %>
  <%= stylesheet_link_tag "timeline" %>
<% end %>

<div id="page" class="container-fluid">
  <%= render "shared/add_post" %>
  <div id="posts">
    <%= render partial: @posts, locals: { depth: 1 } %>
    <%# depth: 1 so can get tweets one tweet deep %>
  </div>
</div>
