<h1> Create a post here ! </h1>

<% @posts.reverse_each do |post| %>
  <div class="post" id="post<%= post.id %>">
  <% post.message.split("\n").each_with_index do |line, index| %>
    <p><%= line %></p>
  <% end %>
  <p><%= post.created_at %></p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
