<%= stylesheet_link_tag 'posts' %>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded" rel="stylesheet">

<div class='content'>
  <%= render partial: 'form' %>
  <%= render partial: 'display_posts' %>
</div>
