<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.reverse.each do |post| %>
  <div style="border: 1px solid blue">
    <p><%= post.message %></p>
    <% if current_user.id == post.user_id %>
      <%= button_to "Edit post", edit_post_path(post), method: :get %>
      <%= button_to "Move to recycle bin", post_path(post), method: :delete  %>
    <% end %>
  </div>
  <br>
<% end %>

<!-- post_path(post), method: :delete -->
