<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.reverse.each do |post| %>
  <div style="border: 1px solid blue">
    <p><%= post.message %></p>
    <%= button_to "Edit post", edit_post_path(post), method: :get %>
    <%= button_to "Move to recycle bin", method: :delete  %>
  </div>
  <br>
<% end %>

<!-- post_path(post), method: :delete -->
