<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <%= link_to 'Show', post_path(post) %>
  <%= link_to 'Edit', edit_post_path(post) %>

<% end %>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
