<% @posts.each do |post| %>
  <% user = User.find(post.user_id)%>
  <%= link_to user.username, user_path(user.id) %>
  <%= link_to post.content, post %></p>
<% end %>

<%= link_to "New post", new_post_path %>
