<% @posts.each do |post| %>

 <div>
  <%= link_to simple_format(post.message), post %> <%= post.created_at.strftime("%H:%M:%S - %d/%m/%y") %>
</div>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
