
<% @posts.each do |post| %>
  <div class="container">
  <p class="datetime"><%= (post.created_at).strftime("%l:%M%P %-d-%B-%Y") %></p>
  <p class="post"><%= post.message %></p>
  </div>
<% end %>

<center><%= button_to "New post", new_post_path, :method => :get %></center>
