<% @posts.each do |post| %>
  <p><%= simple_format(post.message) %>
     <sub>Posted on: <%= post.created_at.strftime("%d-%m-%Y") %></sub></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>