<% @posts.each do |post| %>
  <p class='post-message'><%= post.message %></p>
  <p class='post-timestamp'><%= post.format_date %></p>
<% end %>

<%= link_to new_post_path do %>
  Create post
<% end %>
