<% @posts.each do |post| %>
  <p class="form"><%= post.message %></p>
  <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: "Are you sure?" }%></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>