<p>
<% @posts.each do |post| %>
  <% post.linebreak.each do |sortpost| %>
    <%= sortpost %> <br>
  <% end %>
  <%= post.created_at.strftime("Posted at: %H:%M on %A %d %B, %y") %>
  </p>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
