<% if current_user != nil %>
<%= link_to 'New Post', new_post_path, :class => "ml-6 is-family-code has-text-info-dark is-size-4" %>
<% end %>
<head>
  </head>
<body>
  <%= render 'shared/posts_cards' %>
</body>
