<% name = current_user.present? ? current_user.firstname : 'Stranger' %>
<h1>Hello, <%= name %> to BBB </h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
