<% @posts.each do |post| %>
  <div>
    <%= post.message %></br>
    <div class='post-actions'>
      <i class="fa fa-heart post-like"></i> <%= link_to 'Post Details', post_path(post) %></br></br>
    </div>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>


<script type="text/javascript">
  $(function() {
    $('.post-like').on('click', function() {
      var post_id = $(this).data('id');

      $(this).toggleClass('active')
    }) 
  })
</script>