<h2> Posts </h2>
<% @posts.reverse.each do |post| %>
  <div class='post'>
    <p><%= simple_format(post.message) %></p>
    <p><%= post.created_at%> </p>

    <%= link_to 'delete', post_path(post.id), method: :delete %> 
   

  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>