<% @posts.each do |post| %>
  <ul class="post">
    <li><%= post.formatted_time %></li>
    <li class="message"><%= post.message %></li>
    <li><%=link_to 'Delete', post_path(post),
    method: :delete,
    data: { confirm: 'Are you sure?'} %></li>
  </ul>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
