<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<div>

  <%= link_to new_user_path do %>
    Sign up please!
  <% end %>

</div>

<div>

<%= link_to new_post_path do %>
  Write a New post
<% end %>

</div>
