<% @posts.reverse.each do |post| %>
  <p><%= simple_format post.content %></p>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to 'Delete', post, :method => :delete, data: {:confirm => "Are you sure?"} %>
<% end %>

<br>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
