<% @posts.each do |post| %>
  <p>
    <%= post.user.username %>
    <br>
    <%= post.message %>
    <br>
    <%= post.updated_at %>
  </p>
  <br>

<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
