<% @posts.each do |post| %>
  <pre>
    <%= link_to new_user_post_path do %>
      <%= post.message %>
    <% end %>
  </pre>
  <p>Posted at: <%= post.updated_at.strftime("%Y-%m-%d %k:%M")%></p>
<% end %>

<%= link_to new_user_post_path do %>
  New post
<% end %>
