<% @posts.each do |post| %>
  <p><%= simple_format(post.message) %></p>

  <% if post.image.url != '/images/original/missing.png' %>
    <p><%= image_tag(post.image.url, style:'width:50%') %></p>
  <% end %>

  <p><%= post.user_id %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
