<ul id="posts">
<% @posts.each do |post| %>
  <li>
    <%= post.message %><br />
    <%= post.updated_at.strftime('%I:%M%p - %e %b %Y ') %>
    <form method="post">
      <input class=post.id type="submit" value="Edit">
    </form>
  </li>
<% end %>
</ul>
<%= link_to new_post_path do %>
  New post
<% end %>
