
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>


<% @posts.reverse_each do |post| %>
<span style="white-space: pre-line">  <p><%= post.message %> <br><%= post.updated_at %></p></span>


<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
