<% @posts.each do |post| %>
  <p><%= post.message %></p> <%= post.created_at.strftime("%m/%d/%Y") %> Testing Travis/Heroku integration</p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
