<% @posts.each do |post| %>
<div>
  <%= simple_format post.message %>
  <p><%=  post.created_at %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
  <p><%= link_to destroy_user_session_path, method: :delete do %>
    Logout
  <% end %></p>
<% end %>
