<% @posts.each do |post| %>
  <p class="post"><%= post.message %>
    <br>
    Date posted: <%= post.created_at.strftime('%d %B %Y at %I:%M %p') %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
