<h1>Listing posts</h1>

<table>
  <tr>
    <th>Message</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.message %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>
