<% @posts.reverse_each do |post| %>
  <div class='post'>
    <p class='message'> <%= post.message %></p>
    <p><%= post.updated_at %></p>
    <%= link_to edit_post_path(post.id) do %>
      Edit
    <% end %>
  </div>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
