<input type="file" name="profile-pic" accept="image/x-png, image/gif, image/jpeg"/>

<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
