<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="jumbotron">
    <strong><%= post.user.email %>:</strong>
    <%= simple_format(post.message) %>
    <%= post.created_at.strftime("%H:%M:%S - %d/%m/%Y") %>
  </div>
<% end %>
