<br>
<br>
<br>
<br>
<% @posts.reverse.each do |post| %>
  <p><%= post.message %> <%= post.created_at.strftime("%d/%m") %></p>
  <p><%= User.find(post.user_id).first_name %></p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>
