<div class='posts'>
<% @posts.each do |post| %>
  <% @user = User.find_by(id: post.user_id) %>
  <div id='post'>
  <p id='user'><%= @user.name %></p>
  <p id='message'><%= post.message %></p>
  <p id='time'><%= post.created_at.strftime('%H:%M') %></p><br>
  </div>
<% end %>
</div>
<%= link_to new_post_path do %>
  New post
<% end %>
