<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>



<div id="posts"></div>
<div id='like-button'></div>
<%= link_to new_post_path do %>
  New post
<% end %>

<%= javascript_include_tag 'interface' %>