<br>
<br>
<br>
<br>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p><%= User.find(post.user_id).first_name %></p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>
