
<% @posts.each do |post| %>
  <div id=<=% post.id %>
    <p><%= post.message %></p>
    <p><% rzw_post_time = Time.parse(post.created_at.to_s[0, post.created_at.to_s.length - 3]) %>
    <%post_time = rzw_post_time +60*60%></p>
    <p> <%= post_time.strftime("%d/%m/%Y %H:%M") %> </p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
