<div class="posts-wrapper row">
  <% @posts.each do |post| %>
      <div class="post">
        <div class="image center-block">
          <%= link_to simple_format(post.message), post %> <%= post.created_at.strftime("%H:%M:%S - %d/%m/%y") %>
        </div>
      </div>
  <% end %>
</div>


<div class="form-group text-center">
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>
