<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
  <p><%= link_to destroy_user_session_path, method: :delete do %>
    Logout
  <% end %></p>
<% end %>
