<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href ='styles/style.css' rel ='stylesheet' type ='text/css'>
  <script src="public/src/interface.js"></script>
  <title>Bowling Scorecard</title>
</head>
<body>
<header>
  <div>Hi</div>
</header>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
rrwhsrhsrhah
</body>
