<p></p>
<% @posts.reverse.each do |post| %>
    <p><%= post.message %>: posted at <%= post.created_at.strftime('%H:%M on %d-%b-%y') %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<style>
p {
    white-space: pre-line; /* collapse WS, preserve LB */
  }
</style>
