<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    </head>
    <body>
      <% @posts.each do |post| %>
        <p><%= post.content %></p>
        posted by <% @user %>
      <% end %>
      <br>
      <br>
      <%= link_to new_post_path do %>
        Make A New Post
      <% end %>
</body>
</html>
