<% @posts.each do |post| %>
  <div>
    <p><%= post.message %></p>
    <p><%= post.created_at.strftime("Created on %d/%m/%Y")%></p>
  </div><br>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<p>Hello</p>
