<% @posts.each do |post| %>
  <p><%= post.message %><br>
  <%= @current_user.username %><br>
  <%= post.created_at.strftime("%m/%d/%Y, %H:%M") %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
