<ul>
  <% @posts.each do |post| %>
    <li>
      <p>date:<%= post.created_at.strftime("%Y-%m-%d") %></p>
      <p>post:<%= post.message.gsub(/\n/, '<br>').html_safe %></p>
      <% p @current_user %>
      <% if @current_user == nil %>
        <td><%= button_to 'Destroy', posts_path(post),
        method: :delete %></td></li>
      <% end %>
  <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
