<% @posts.each do |post| %>
  <p><%= simple_format(post.message) %></p>
  <p><%= post.created_at.strftime("%d %B %Y, %l:%M%P") %></p>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
