<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <% if post.file.attached? %>
    <%= link_to 'View Download', rails_blob_path(post.file, disposition: 'attachments')%>
  <%end%>
<% end %>
<br>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
