<div class="container">



<h2>Posts</h2>

<ul>
<% @posts.each do |post| %>
    <p><%= link_to post.message, post %></p>
    <p><%= image_tag post.image if post.image.attached? %></p>
  <% end %>
</ul>

</div>
