<% @posts.reverse.each do |post| %>
  <p><%= post.message %> <%= post.created_at.strftime("%d") %>/<%= post.created_at.strftime("%m") %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
