<% @posts.each do |post| %>
<p><%= post.message %></p>
<p><%= post.get_time %></p>
<% if post.user_id == current_user.id-%>
<%= button_to edit_post_path(post), method: "get" do %>
Edit Post
<% end %>
<% end -%>
<% end %>

<%= button_to new_post_path, method: "get" do %>
New post
<% end %>

Hello world.