<%# TIMELINE %>
<% content_for :head do %>
  <%= stylesheet_link_tag "timeline" %>
<% end %>
<h1>Your Timeline</h1>
<div id="page" class="container-fluid">
  <%= render "shared/add_post" %>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>
