<% @posts.each do |post| %>
<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= simple_format(post.message) %>
    </div>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
