<head>
  <link rel="stylesheet" type="text/css" rel="posts.css">
</head>

<%= link_to('Sign out', destroy_user_session_path, method: :delete) %>

<% @posts.each do |post| %>
<% if current_user.id == post.user.id && %>
  <p>EDIT</p>
<% end %>
  <p class="post" ><%= post.message %> (<%= post.user.email %>)</p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
