<%= flash[:success] %><br>

<%= link_to new_post_path do %>
  New post
  <% end %>

<% @posts.each do |post| %>
  <p class='post-text'><%= post.message %> [<%= post.updated_at.strftime("%Y-%m-%d, %H:%M")%>]</p>
<% end %>
