<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <div class="center">
   <h1>All Posts</h1>
    </div>
  </div>
</div>

<% @posts.each do |post| %>
<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= simple_format(post.message) %>
    </div>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
