<h1>Posts page</h1>
<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <p>Posted on <%= post.created_at.strftime("%Y-%m-%d")%> by <%= get_user_email(post) %></p>
  <br>
<% end %>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
