<body class="post-body">

  <div class="post-card">

    <%= form_for @post do |form| %>
      <div class="post-header">
        <%= form.label :message, "New" %>
      </div>
      <div class="post-body__message">
        <%= form.text_area :message %>
      </div>
      <div class="post-body__submit">
        <%= form.submit "Post" %>
      </div>
    <% end %>

  </div>

</body>
