<div class="main-container">
<div class="new_post">
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit "Submit" %>
<% end %>
</div>
</div>
