<div class="mx-auto" style="width: 300px;">
<br>
<p>Please enter your new post... do it now!</p>
  <form action="/addpost" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea id="message" name="message" class="form-control text-center"></textarea>
    <br>
    <input type="submit" value="Submit Post" id="Post" name="Post" class="btn btn-primary">
  </form>
</div>
