<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token" content="du8ZshZM0biiF5qMw2d1G2VQtKk+ywiV5ACKFNGlFVa55BANDAh33HAwBTIyUhQmvbWM20QkVV4F9i0FxXHdng=="/>
  </head>

  <body>
    <div class="jumbotron bg-transparent">
      <h1 class="text-center">New Post</h1>
    </div>
    <div class="text-center">
      <form action="/posts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input type="hidden" name="authenticity_token" value="mUNz5ng0So0M4FmXNcTt4QTUhLU7UG31aM4KcbxGK01jaY5XAdU6gCm9cFuGem85Hininvx8KiQCaF+p7gTNOg=="/>
        <% params[:recipient_id] ||= current_user.id %>
        <%= render 'form', post: @post, recipient: params[:recipient_id], class: "form-group" %>
      </div>
      <br><br>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">
        <a style="color: #fff;" href="/posts">Back</a>
      </button>
    </div>
</body>
</html>