<%= form_for @post do |form| %>
  <div class="mdl-textfield mdl-js-textfield extrawide">
    <%= form.text_area :message, class: "mdl-textfield__input"%>
    <label class="mdl-textfield__label" for="sample2">Post</label>
  </div>

<div id="next" style="padding-left: 10px" >
  <%= button_tag( :class => "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent" ) do %>
  <i class="material-icons">arrow_forward</i>
  <% end %>
  </div>
<% end %>
