<div class="jumbotron">
  <p style="font-size:45px; font-weight:900">Acebook</p>
</div>

<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>
