<% content_for :welcome_name do %>
  <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
<% end %>


<% content_for :login_logout do %>
<li class="nav-item">
            <a class="nav-link" href="/signup">Logout</a>
          </li>
    <% end %>  

<body>
    <div class="container">
 
      <div class="col-md-7">
          <div class="social-feed-separated">

              <div class="social-feed-box">
                  
                  <div class="social-avatar">

                      <a href="#">
                          <%= @current_user.name %> </a>
                      </a>
                      
                  </div>
                  <div class="social-body">

                            <%= form_for @post do |form| %> 
  
 

<%= form.text_area(:message, id: "Message", class: 'md-textarea form-control', placeholder: "What are you thinking?")  %> 

  <button class="btn btn-white btn-xs"><i class="fa fa-refresh" aria-hidden="true"></i> New Post</button>
<% end %>

                  </div>
      
              </div>
      
          </div> 
      </div>

 
    </div>





