<!-- <div class="jumbotron text-center">
<div class="h3" style="padding-right: 270px"> -->
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <!-- </div> -->
  <%= form.text_area :message, cols: 50, rows: 5 %>
  <!-- <div style="hight: 50px"> -->
  <%= form.submit "Submit" %>
  <!-- </div>
</div> -->
<% end %>
