<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DART</title>

  </head>
  <div id="new-post">
    <body>
      <%= form_for @post do |form| %>
        <%= form.text_area :message %>
        <%= form.submit "Throw" %>
      <% end %>
    </body>
  </div>
</html>
