<div class="post-container">
<%= form_for @post do |form| %>
  <%= form.label :message %>
  </br>
  <%= form.text_area :message, :cols => 30, :rows => 10 %>
  </br>
  <%= form.submit "Submit" %>
<% end %>
</div>
