<h1>Post</h1>
<%= form_for @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field(:message, {:class => 'form-control'}) %>

  <%= form.submit({:class => 'btn btn-primary'})%> 
<% end %>
