<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DART</title>

  </head>
    <body>
      <div id="new-post">
      <%= form_for @post do |form| %>
      <%= form.label :message %>
        <%= form.text_area :message, cols: "50", rows: "5"%>
        <%= form.submit "Throw" %>
      <% end %>
        </div>
    </body>
</html>
