<p>

<%= @post.message %>
<br>
<%= link_to 'Update', edit_user_post_path(@post) %>
<%= link_to 'Delete', [@post.user, @post],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
</p>

<%= link_to 'All posts', user_posts_path %>
