
<div class="main-container">
  <div class="show_post">
      <%= @post.message %>
      <br>
      <%= @post.created_at.strftime("%d-%m-%Y") %>

  </div>
  <div class="comment-thread">
    <%= commontator_thread(@post)%>
  </div>
</div>
