<% <p><%= @post.likes.count <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'</p> %> 

<% if user_signed_in? %>
  <% if @post.liked?(current_user) %>
    <%= button_to "Like", like_path(@post), method: "put", disabled: true %>
  <% else %>
    <%= button_to "Like", like_path(@post), method: "put" %>
  <% end %>
<% end %>