<div class="jumbotron">
  <p style="font-size:45px; font-weight:900">Acebook</p>
</div>

<p>
  <%= simple_format(post.message) %>
  <% user = User.find_by(id: post.user_id) %>
  <p><%= user.first_name %> <%= user.last_name %>: <%= post.time_stamp %></p>
</p>
