<%= link_to user_path(@user) do %>
  Home
<% end %>

<% @posts.reverse.each do |post| %>
  <p><%= post.users.first_name %></p>
  <p><%= post.message %></p>
  <p><%= time_ago_in_words(post.created_at) %></p>
<% end %>
