<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div>
   <% form_for @post, :url => url_for(:action => ‘destroy’, :id => @post) do |f| %>
   <%= @post.message %>
   <%= submit_tag(“Delete It”) %>
   <% end %>
  </div>
</body>
</html>
