
<p>
  <strong>Post:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Likes:</strong>
  TBD
</p>

<div id="post_<%= @post.id %>_likes">
  <%= render partial: "likes", locals: {post: @post} %>
</div>

<%= link_to 'Back', posts_path %>
