<h1> Post details </h1>
<div id="post-container">
  <%= @post.body %>
  <br>
  <%= link_to "Edit", edit_post_path(@post) %>

  <%= render 'comments/form' %>

  <br>
  <div id="comments-container">
    <%= render 'comments/index' %>
  </div>
</div>