<%# Individual Post %>
<h1><%= link_to @user.username, @user %></a></h1>
<p><%= @post.content %></p>
<%# <%= button_to "New", action: "new" %> %>
<%= button_to "Like", { :id => @post.id}, :method => :put %>