
<form class="" action="update" method="post">
  <input type="hidden" name="post_id" value="<%= @post_id %>">
  <!-- <input type="hidden" name="_method" value="put"/> -->
  <input type="text" name="Message" value="">
  <input type="submit" name="" value="Submit">
</form>
