<div class="about-page">
<h1>About</h1>

<p>This was a project created during weeks 8 and 9 of the Makers course.</p>

<p>The team behind the creation of the app:</p>
<ul>
  <li>Reeshul Shah</li>
  <li>Tom Twigden</li>
  <li>Dan Tyler</li>
  <li>Morne Van Zyl</li>
  <li>Josh Sinyor</li>
</ul>

<div class="about-page-footer">
<em><p>Sextus pinus erectus</p></em>
</div>

</div>
