/* latin-ext */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isRFJXUdVNFKPY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.edit-body {
  font-size: 40px !important;
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  width: 700px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  color: #16e60f;

}

.edit-block {
  background-color: black;
  font-size: 25px;
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}

.body {
  background-color: black;
}

.form-text {
  outline: none;
  border-radius: 10px;
  color: #16e60f;

}

.form-text-post {
  outline: none;
  border-radius: 10px;
  width: 500px;
  color: #16e60f;
}

.form-media {
  outline: none;
  border-radius: 10px;
  color: #16e60f;
}

/* 
.form-label {
  float: left;
} */


.form-label-post {
  font-size: 35px;
  text-align: left;
  color: #16e60f;
}

.field {
  padding: 10px;
}

.actions{
  padding: 10px;
}

.friends-title {
  text-align: center;
  margin: 20px;
  margin-top: 20px;
}

.friends-name {
  color: #16e60f;
  font-size: 20px;
  text-align: left;
  display: inline-block;
  margin: 20px;
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v12/pxiKyp0ihIEF2isfFJXUdVNF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.friends-buttons {
  display: inline-block;
  float: right;
  margin: 20px;
}

.friends-body {
  width: 700px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

.friends-block {
  padding:20px;
  background-color: black;
  border-radius: 10px;
}



a:link {
  color: #16e60f;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: magenta;
  text-decoration: underline;
}

