/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 body {
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Courier New', monospace;
 }

.likebutton {
  border-radius: 25px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.timestamppost {
  font-size: 9px;
  font-style: italic;
}

.dislikebutton {
  border-radius: 25px;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

 .container {
   margin-top: 30px;
 }

.dislikebutton {
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.likebutton {
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

 .alert-custom {
   border-style: solid;
   border-color: #f002ff;
   border-width: 5px;
   $alert-border-radius: 10px;
   color: #fff;
 }

 .alert-custom-login {
   background-color: #f002ff;
   color: #fff;
 }

 .neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.neonBox {
 color: #fff;
 margin: 10px;
 box-shadow:
   0 0 5px #f002ff,
   0 0 10px #f334ff,
   0 0 20px #f667ff,
   0 0 40px #f999ff,
}

.commentBox {
  font-family: 'Courier New', monospace;
  color: white;
  text-align: center;
  padding: 10px
}

.navbar-default {
  background-color: #f002ff;
  color: #fff;
}

.nav-item {
  margin: 5px;
  color: #fff;
}

a {
  color: #FFF;
}
a:hover {
   color: #00F
}

.form-box {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
}
