/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 textarea {
   resize: none;
 }

.index {

   border-bottom: solid;
   border-bottom-color: grey;
 }

/* #edit {
  background-color: #4CAF50;
}

#delete {
  background-color: #f44336;
} */

#text {
  color: white !important;
}

#new {
  background-color: yellow;
}

#comments {
  margin-left: 200px;
  margin-right: 200px;
  border-width: 10px 5px 5px 10px;
  border-style: dashed;
  background-color: red;
}

h1 {
  color: lightblue;
}
