/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
  background: #463f57;
}

.nav-item .nav-link {
  color: white !important;
}

.navbar-expand-lg .navbar-brand {
  color: white !important;
}

.field .align-label {
  width: 305px;
  text-align: left !important;
}

.field {
  position: relative;
}

.field .c-input {
  width: 305px !important;
}

.c-top-container {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgb(230, 230, 230);
  width: 450px;
}

.c-bottom-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgb(230, 230, 230);
  width: 450px;
}

.c-bottom-container * {
  margin-top: 30px;
  display: inline-block;
}

.remember-me {
  position: relative;
  left: -40px;
}

#login-page-button {
  position: relative;
  left: 40px;
}

.c-top-container, .c-bottom-container {
  padding: 30px;
}

.c-button {
  background: #463f57 ;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: 0px;
  opacity: 1;
}

.c-button-green {
  background: #008037;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  border: 0px;
  opacity: 1;
}

.c-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.c-button-green:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.colored-grey {
  color: #463f57 !important;
}

.remember-me label {
  font-size: 14px;
}

#min-pass-len {
  font-size: 10px;
  position: absolute;
  width: 200px;
  display: inline;
  left: 80px;
  top: 6px;
}


.c-button-cancel {
  background: #9a2525;
  color: white;
  width: 120px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  opacity: 1;
}

.c-button-cancel:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.newpost{
  color: #463f57 !important
}

.gravatar {
  height: 30px;
  width: auto;
}
