/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     height: 100%;
 }

 /* .sign-up {
    text-align: center;
    margin: auto;
    width: 200px;
    background-color: #494949;
    opacity: 0.8;
    color: white;
    font-weight: bold;
  } */

  .card.bg-light.sign-up {
    width: 300px;
}

  .card.bg-light.sign-in {
      width: 300px;
  }

  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: 'Already a Scarer?';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
}
  
  ul {
      list-style: none;
  }
  
  #top_bar {
    background-color: #494949;
    opacity: 0.8;
    color: white;
    font-weight: bold;
  }
  
  body {
    margin-top: 100px;
    background-size: cover;
    background-image: url("sullyhomescreen.jpg");
    height: 100%;
    position: relative;
    padding-bottom: 2.5rem;    /* Footer height */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  #navbarSupportedContent {
    text-align: right;
  }
  
  #signout {
    text-align: right;
    position: relative;
    display: inline-block;
    width: 100%;
  }

  body.new.clearance\/sessions {
    padding-top: 100px;
  }

  .inc {
      color: #69B5AB;
  }

  .btn.btn-lg.btn-primary.btn-block {
      height: 30px;
      padding: 0;
      border: 0;
      margin-bottom: 5px;
  }

  body.index {
    background-image: url("scarefloorimage.jpg");
  }
  
  .container.post {
    background-color: white;
    opacity: 0.8;
  }
  
  .each_post {
    margin-top: 10px;
  }

  * {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }

   #page-container {
    position: relative;
    min-height: 100vh;
   }

   .content-wrap {
    /* padding-top: 200px; */
    padding-bottom: 100px;    /* Footer height */
  }

   footer {
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
   }
   .btn {
       background-color: #69B5AB;
   }
   body.new.clearance\/users {
    padding-top: 100px;
    background-image: url("signupimage");
   }
  .container-sm {
      margin-bottom: 100px;
  }
