/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_simple_discussion
 *= require_self
 */

.links-bar a:not([href]) {
    color: #666;
    text-decoration: none;
}

.links-bar a:focus {
   color: #666;
   text-decoration: none;
}

 .links-bar a {
   color: #666;
   background-color: transparent;
   text-decoration: none;
 }
.links-bar a:visited {
   color: #666;
   background-color: transparent;
   text-decoration: none;
 }
 .links-bar a:hover {
   color: #666;
   background-color: transparent;
   text-decoration: underline;
 }
 .links-bar a:active {
   color: #666;
   background-color: transparent;
   text-decoration: underline;
 }

 .field {
   cols: 45;
   rows: 2;
   placeholder: "Wagwan G?"
 }
