/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body * {
  font-family: 'Montserrat';
}

.align-end {
  text-align: right;
}

.course-index-container {
  padding: 20px;
  position: relative;
  display: inline-block;
  border: 2px solid #6C63FF;
  background: #F4F4F4;
  width: 300px;
  height: 200px;
  border-radius: 8px;
  margin-top: 50px;
}

.course-index-container > .title > a {
  text-decoration: none;
  color: #6C63FF !important;
}

.course-index-container {
  cursor: pointer;
}

.course-index-container:hover {
  box-shadow: 4px 4px 4px rgb(220, 220, 220);
}

.rating-star {
  position: relative;
  width: 25px;
  height: auto;
}

.align-start {
  text-align: left;
}

.align-center {
  text-align: center;
}

.tcl {
  background: red;
  opacity: 0.5;
  border: 2px solid black;
}

body {
  overflow-x: hidden;
}

.purple-highlight:hover {
  color: #6c63ff !important;
}

.white-text {
  color: white !important;
}

nav {
  background: #f4f4f4;
  height: 80px;
}

.nav-link {
  color: black !important;
}

.disabled {
  color: grey !important;
}

.col-12 {
  padding: 0 !important;
}

#illustration-block {
  position: absolute;
  height: 500px;
  width: 100vw;
  background: #6c63ff;
}

.hide {
  display: none !important;
}

.il-text-block {
  margin-left: 140px;
  margin-top: 150px;
}

.mg-med {
  margin-left: 2vw;
  margin-right: 2vw;
}

.s-button {
  background: black;
  border-radius: 30px;
  width: 120px;
  height: 45px;
  padding: 10px 10px 10px 10px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.s-button:focus, .s-button:active {
  outline: none;
}

.card-img-container {
  overflow: hidden !important;
  height: 200px;
  border: 3px solid #6c63ff;
  border-radius: 8px;
  overflow: hidden;
}

#card-img-share {
  position: relative;
  left: 100px;
  width: 250px;
}

#card-img-learn {
  position: relative;
  left: 30px;
  width: 300px;
}

#card-img-connect {
  position: absolute;
  top: 15px;
}

.card {
  margin-top: 80px;
  border-radius: 8px !important;
}

.card-body {
  height: 260px;
  background: #f4f4f4;
}

.mg-top-md {
  margin-top: 250px;
}

.card-title {
  font-weight: 600;
  font-size: 24px;
}

.card-text {
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
}

.navbar-brand-img {
  position: absolute;
  top: 2px;
  width: 70px;
  height: auto;
}

.navbar-brand {
  margin-left: 90px;
  color: #6c63ff;
}

.navbar-brand:hover {
  color: #6c63ff;
  opacity: 0.8;
}

footer {
  position: relative;
  height: 30px;
  background: #f4f4f4;
  width: 100vw;
  margin-top: 70px;
  padding-top: 5px;
}

footer p {
  font-size: 12px;
}

@media (min-width: 576px) {
}


@media (min-width: 768px) {
  .course-index-container {
    width: 370px;
    height: 200px;
    margin-top: 60px;
    border-radius: 8px;
  }
  .course-index-container > .desc {
    line-height: 22px;
    font-size: 0.95em;
    letter-spacing: 3px;
    opacity: 0.7;
    text-align: center;
  }
  .course-index-container > .title {
    font-size: 1.7em;
  }
}


@media (min-width: 992px) {
  .course-index-container {
    width: 330px;
    height: 220px;
  }
}


@media (min-width: 1200px) {
  .course-index-container {
    width: 400px;
    height: 200px;
  }
}


@media (min-width: 1400px) {
  .course-index-container {
    width: 450px;
    height: 200px;
  }
}
