/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
  @import "bootstrap";

 .post {
   border: 6px solid black;
   margin: auto;
   margin-bottom: 5px;
   background-color: black;
   color: orange;
   opacity: 0.7;
   font-family: "Lucida Console", Monaco, monospace;
   width: 40%;
   font-weight: bold;
}

.post:hover, .comment:hover {
  opacity: 0.8;
  background-color: orange;
  color: black;
}

.comment {
  padding: 2px;
  margin: auto;
  margin-bottom: 5px;
  background-color: #404040;
  color: orange;
  opacity: 0.7;
  font-family: "Lucida Console", Monaco, monospace;
  width: 35%;
  font-weight: bold;
}

 h1 {
   letter-spacing: 7px;
   text-align: center;
   background-color: orange;
   opacity: 0.83;
   font-size: 45px;
   font-family: "Lucida Console", Monaco, monospace;
   border-top: 10px solid black;
   border-bottom: 10px solid black;
 }

  h2 {
    letter-spacing: 6px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    background-color: orange;
    padding: 10px;
    opacity: 0.85;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    font-family: "Lucida Console", Monaco, monospace;
  }

  body {
    background-image: image-url("Mercury.jpg");
    align-items: center;
    justify-content: center;
  }

  .navbar {
    background-image: image-url("navStars.png");
  }

  .navbar-brand {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2em;
    font-family: "Righteous";
  }

  a {
    color: white;
  }

  a:hover {
    color: orange;
    text-decoration: none;
  }

  .new-post-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    // margin-left: 610px;
    color: white;
    font-family: Impact, sans-serif;
    font-size: 30px;
    background-color: inherit;
    border: none;
  }

  .btn:hover {
    color: orange;
  }

  .field {
    padding-bottom: 10px;
    text-align: center;
     font-family: "Lucida Console", Monaco, monospace;
     color: orange;
     font-weight: bold;
     background-color: black;
     opacity: 0.75;
  }

.profile {
  font-size: 25px;
  font-family: "Righteous";
  background-color: black;
  color: white;
  display: flex;
  opacity: 0.9;
}

#profile-pic {
  width: 12%;
  height: 12%;
  opacity: 1;
  border: 6px solid orange;
}

.post-box {
  font-family: "Lucida Console", Monaco, monospace;
  margin: auto;
  text-align: center;
  background-color: black;
  color: orange;
  width: 45%;
  opacity: 0.85;
  border: 5px solid black;
}

textarea{
  background-color: #404040;
  color: orange;
  width: 90%;
  opacity: 0.6;

}
textarea:hover {
  background-color: orange;
  color: black;
  opacity: 0.9;

}

.app-links {
  align-text: center;
  font-size: 25px;
  background-color: black;
  display: inline;
  border: 3px solid black;
}

.friends {
  float:left;
}

.non-friends {
  float:right;
}

.friends, .non-friends {
  text-align:center;
  opacity: 1;
  background-color: black;
  border: solid black 6px;
  height: 100%;
}

.friend:hover, .non-friend:hover {
  background-color:orange;
  color: black;
}
.friendlist {
  margin-top: 5px;
  font-family: "Lucida Console", Monaco, monospace;
  opacity: 0.8;
  color: orange;
  overflow: hidden;
  margin: auto;
  width: 50%;
}

h3 {
  font-family: "Righteous";
}
