/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.

 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

form {
  display: inline-grid;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.text-block {
  position: relative;
  right: 47px;
}

.row {
  position: relative;
  left: 8rem;
  text-align: center;
}

table {
  width: 85% !important;
  margin: 5rem;
}

.row2 {
  left: 12rem;
}
/* forms */
input,
select,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.center_button {
  text-align: center;
  margin-left: 45rem;
  margin-right: 49rem;
}
// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

.posts-div {
  margin-bottom: 4rem;
}

.posts-row {
  display: contents;
}

.top {
  margin-top: 5rem;
}
