body {
  margin:0;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  font-family: 'BioRhyme Expanded', serif;
  background-color: #061e44;
  font-size: 0.8rem;
  color: white;
  position:fixed;
  top:0px;
  display: flex;
  width: 100%;
  height: 6rem;
  box-shadow: 0px 5px 10px black;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-avatar img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.info a {
  text-decoration: none;
  color: white;
  font-family: 'BioRhyme Expanded', serif;
}

.account a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0 6px;
}

.account a:hover {
  text-decoration: underline;
}

.account {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}

body {
  margin-top: 7rem;;
}

header img {
  height: 4rem;
  margin: auto 0.3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice, .alert {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
