@import url(https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou);

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h1 {
  font-size: 5em;
  text-align: center;
  margin: 5px;
}

body {
  font-family: ZCOOL QingKe HuangYou;
  background-color: #e2edff;
  background: #dfeaf7; /* Old browsers */
  background: -moz-linear-gradient(top, #dfeaf7 0%, #cadcf0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dfeaf7 0%,#cadcf0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dfeaf7 0%,#cadcf0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf7', endColorstr='#cadcf0',GradientType=0 ); /* IE6-9 */
}

div#posts {
  padding: 10px;
}

a {
  color: #163b72;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px 5px;
  font-size: calc(102%);
}

a#new_post {
  padding-left: 10px;
  font-size: 3em;
  position: absolute;
  right: 20px;
  text-decoration: none;
}

ul#posts {
  margin-left: 5em;
  margin-right: 5em;
}

li.posts {
  margin-bottom: 50px;
  list-style-type: none;
  border: inset;
  border-radius: 1em;
  background-color: #d1e1f9;
  background: #94b8de; /* Old browsers */
  background: -moz-linear-gradient(top, #94b8de 0%, #4982bf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #94b8de 0%,#4982bf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #94b8de 0%,#4982bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94b8de', endColorstr='#4982bf',GradientType=0 ); /* IE6-9 */
}

li.posts:hover {
  background-color: #f2f6fc;
  box-shadow: 2px 2px 10px;
  font-size: calc(102%);
  background: #deefff; /* Old browsers */
  background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #deefff 0%,#98bede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

p.posts {
  padding-left: 1em;
  font-size: 1.5em
}

p.time {
  text-align: right;
  padding-right: 3em;
}
