/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// Partials - main css files
@import "partials/layout/*";

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 20px;
}

p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 60px;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}

.post-container img {
  width: 70%;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 5px;
  margin-bottom: 15px;
  box-shadow: 3px 4px 11px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 11px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 11px 2px rgba(0,0,0,0.75);
}

.post-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 40px;
}

.show {
  width: 20%;
  height: 35px;
  cursor: pointer;
}

.edit {
  width: 20%;
  height: 35px;
  cursor: pointer;
}

.delete {
  width: 20%;
  height: 35px;
  cursor: pointer;
}

.inactive {
  width: 20%;
  height: 35px;
  color: rgb(2, 2, 2);
  cursor: not-allowed;
}

.time-stamp {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  width: 100%;
}

.like-btn {
  width: 70%;
  height: 30px;
}

.like-btn button {
  border: none;
  background-color: transparent;
  outline: none;
}

.fa-heart {
  color: red;
  transition: 0.3s;
}

.fa-heart:hover {
  transform: scale(1.2);
}

.new_comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  background-color: rgba(132, 200, 255, 0.801);
}

.new_comment textarea {
  width: 70%;
  height: 25px;
  border: none;
  border-radius: 10px;
  padding: 4px 10px 0 10px;
  font-size: 12px;
  resize: none;
  outline: none;
}

.new_comment button {
  width: 20%;
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-comment {
  color: black;
  transition: 0.3s;
}

.fa-comment:hover {
  transform: scale(1.2);
}

.posts-comments {
  width: 70%;
}

.user-profile-comment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 70%;
  height: 30px;
}

.user-profile-comment img {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(212, 0, 255);
  border-radius: 25px;
  padding: 0;
  margin: 0 15px 0 10px;
}

.posts-comments p {
  font-size: 12px;
  font-style: italic;
  padding: 3px 5px 5px 100px;
}

.single-comment-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.single-comment-area button {
  border: none;
  outline: none;
  background-color: transparent;
}

.fa-trash-alt {
  color: red;
}