body{
	margin: 0
}
.fb-header-base{
	width:100%;
	height:80px;
	position:absolute;
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	border-bottom: 1px solid #133783
	/* -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25); */
}
.fb-header{
	width:100%;
	height:80px;
	z-index:7;
	background-image:linear-gradient(#3b5d9e, #365592, #2e497d)
	/* background:#365592; */
}
#fb-header-font{
	font-family:verdana;
	font-size: 36px;
	font-weight: bold;
	color:white;
	position:absolute;
	left:150px;
	top:25px;
}
.button-header{
	right:100px;
	top:35px;
	color:white;
	font-size: 12px;
	font-weight: 600;
	padding: 2px 6px;
	position:absolute;
	z-index:20;
	background-color: #365592;
  border-radius: 2px;
  border: 1px solid #29487d;
	cursor:pointer;
	text-decoration: none;
}
.button-header:hover {
  background-color: #4267b2;
}

.fb-body{
	position:absolute;
	top:80px;
	width:100%;
	height:100%;
}
.fb-body-login{
  position:absolute;
	top:80px;
	width:100%;
	height:645px;
}
.fb-body-posts{
  position:absolute;
	top:80px;
	width:100%;
	height:645px;
}
#homepage-background{
	background: url(asset_path('beaut-globe2.jpg'));
	background-size: cover;
}
#tagline{
	left:150px;
	top:20px;
	font-family:verdana;
	font-size:20px;
	color:white;
	height:75px;
	width:550px;
}
#signup-header{
	font-family:verdana;
	font-size:30px;
	color:white;
	font-weight:bold;
}
#signup-tagline{
	font-family:verdana;
	font-size:18px;
	color:white;
}
#signup-form{
	position:absolute;
  top: 40px;
	right:120px;
	font-family:verdana;
	font-size:20px;
	color:#142170;
	width:430px;
	height:495px;
}
.signup-box{
	width:408px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:12px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
#login-header{
	font-family: verdana;
  font-size: 26px;
  color: black;
  font-weight: 500;
  text-align: center;
  margin-bottom: 22px;
}
#signup-disclaimer{
	font-family:verdana;
	font-size:12px;
	color:lightgray;
}
#signup-form-footer{
	font-family:verdana;
	font-size:14px;
	color:lightgray;
}
.fb-body-footer{
	width:100%;
	position:absolute;
	left:0px;
	height:80px;
	background:white;
	top:700px;
}
#fb-body-footer-base{
	width:900px;
	top:15px;
	left:200px;
	color:blue;
	height:60px;
}

#namebox{
	// used by 'new posts' view
	width:200px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}
.button2{
	// used by 'new posts' view
	width:250px;
	height:40px;
	left:750px;
	top:625px;
	background:linear-gradient(#589449, #335027);
	font-family:verdana;
	font-size:18px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: #335027;
	cursor:pointer;
	outline:none;
}

#login-background {
	background-color: #dde0e4;
  padding-top: 100px;
	width: 100%;
	height: 100%;
	position: absolute;
}

.login-form-container {
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 36px 32px;
  margin: 0 auto;
	border: 1px solid lightgray;
}

.form-field {
	box-sizing:border-box;
  border: 1px solid #393d3f17;
  border-radius: 6px;
  color: #393D3F;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 9px;
  width: 100%;
}

.login-button {
	color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 9px;
  background-color: #365592;
  border-radius: 3px;
  border: 1px solid #29487d;
  margin-top: 10px;
}

// styling for posts page

#posts-page-background {
	background-color: #dde0e4;
	padding-top: 60px;
	width: 100%;
	height: 100%;
	display: flex;
}

#user-card-heading {
	font-size: 22px;
	font-weight: 400;
	font-family:verdana;
}

.user-card-text {
	font-family:verdana;
	font-size: 16px;
}

.user-card {
	width: 200px;
  border-radius: 5px;
  border: 1px solid #393d3f17;
  background-color: #ffffff;
  padding: 7px 12px;
  margin-left: 10px;
}

#profile-image {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: top;
}

.news-feed {
	background-color: #FFFFFF;
	width: 750px;
	margin: 0 auto 30px auto;
	border-radius: 5px;
}

.post {
  min-height: 150px;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  padding: 7px 7px 7px 7px;
}

.post:hover {
  background-color: #edeff199;
}

.post-content {
	color: #14171a;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 18px;
	font-family:verdana;
}

.post-heading {
	font-size: 16px;
  color: #133783;
	font-family:verdana;
	margin-bottom: 2px;
}

.post-timestamp {
	font-size: 14px;
  color: #777777;
	font-family:verdana;
	margin-top: 0;
}

.icon-button {
	 padding: 4px 4px;
	 border-radius: 5px;
}

.icon-image {
	height: 18px;
	width: 18px;
}

#new-post-card {
	padding: 7px 7px 0px 7px;
}
.new-post-button {
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding: 6px 9px;
	background-color: #365592;
	border-radius: 3px;
	border: 1px solid #29487d;
	width: 100%;
	margin: 7px auto;
}
.new-post-link {
	color: white;
  text-decoration: none;
}

#new-post-tagline {
	margin-bottom: 12px;
	color: #777777;
	font-family:verdana;
}
