// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: white;
}

.chat-log {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.chat-line {
  display: inline-block;
  padding-left: 5px;
  margin: 5px;
  background-color: #e6e8ed;
  span {
    padding: 5px
  }
}
