// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#all_comments_div {
  max-width: 70% !important;
  display: flex;
  flex-direction: column;
  margin: auto;
}

div#comments_div {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  min-width: 505px;
  border-radius: 5px;
}

div#comment_user_div {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 150px;
  min-height: 100%;
  padding: 5px;
  background-color: #dbbddf;
  // border: solid 1px black;
}

div#parent_container_div {
  flex-grow: 5;
  flex-basis: 0;
  min-width: 350px;
  min-height: 100%;
  margin: 0 !important;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  align-items: stretch;
}

div#container_div {
  width: 100% !important;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: stretch;
}

div#comment_message_div {
  flex-grow: 9;
  padding: 0px 10px;
}

div#comment_likes_div {
  flex-grow: 1;
  display: flex;
  min-height: 100%;
  padding: 2px 10px;
  align-self: stretch;
}

h2#sub_heading {
  max-width: 70% !important;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Lobster', sans-serif;
}

div#post_like_count {
  flex-grow: 1;
  display: flex;
  padding: 2px 10px;
  align-self: flex-end;
}
