// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments textarea {
  width: 30%;
  height: 75px;
}

#comments {
  border-radius: 25px;
  border: 1px solid black;
  padding: 10px;
}

