// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  text-align: left;
  padding-top: 30px;
  padding-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-break: break-all;
}
#comment-header{
  font: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comments_button:hover {
  background: #97C1D3;
}
.comments_button:focus{
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.comments_button {
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 3cm;
  background-color: #3B95B7;
  height: auto;
  border: none;
  color: #ffffff !important;
  font-weight: 10;
  padding: 3px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
#edit_comment_text{
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 315px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #007BFF;
  border-radius: 4px;
}
#comment_header{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 1.5cm;
  box-sizing: border-box;
  border: 2px solid #007BFF;
  border-radius: 4px;
}

#comment_text{
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-height: 230px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
.button_comments_submit_edit:hover {
  background: forestgreen;
}
.button_comments_submit:hover {
  background: forestgreen;
}
.button_comments_delete:hover {
  background: red;
}
.button_comments_edit:hover {
  background: forestgreen;
}

.button_comments_submit_edit {
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 3cm;
  background-color: #3B95B7;
  height: auto;
  border: none;
  color: #ffffff !important;
  font-weight: 10;
  padding: 3px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.button_comments_delete {

  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 3cm;
  background-color: #3B95B7;
  height: auto;
  border: none;
  color: #ffffff !important;
  font-weight: 10;
  padding: 3px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.button_comments_edit {
  margin-right: 5px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 3cm;
  background-color: #3B95B7;
  height: auto;
  border: none;
  color: #ffffff !important;
  font-weight: 10;
  padding: 3px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.button_comments_submit {
  
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 3cm;
  background-color: #3B95B7;
  height: auto;
  border: none;
  color: #ffffff !important;
  font-weight: 10;
  padding: 3px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
#edit_comment_form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  float: left;
  align-items: center;
  margin-bottom: 1cm;
}
.popups-container {
  height: 0;
  border: none;
  margin: 0px;
  padding: 0px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext-add {
  visibility: hidden;
  width: 371px;
  background-color: black;;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -189px;
}

.popup .popuptext-delete {
  visibility: hidden;
  width: 371px;
  background-color: black;;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -181px;
}
.popup .popuptext-edit {
  visibility: hidden;
  width: 371px;
  background-color: black;;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  margin-left: -185px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#comment-header_a {
  float: left;
  font-size: 17px;
}