@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(55, 55, 55);
  text-decoration: none;
}

#logo_home {
  float: left;
  font-size: 45px;
  color: rgb(55, 55, 55);
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
}

.jumbotron {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

body {
  padding-top: 90px;
}

.center {
  text-align: center;
}

.container {
  padding-left: 10px;
}

#holder {
background-color: rgb(175, 189, 212);
font-style: helvetica;
border-width: medium;
border-color: black;
border-radius: 10px;
width: 50%;
text-align: center
}

#title {
  color: rgb(0, 0, 0)
}
