// Place all the styles related to the Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NOTIFICATION CSS HERE
html, body {
  height: 100%;
}

body{
  background-image: none;
  background-color: #F0F6F6;
}

h1{
  color: #67A5A9;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

#page{
  width: 60%;
  margin: auto;
}

#requests{
  width: 100%;
  text-align: center;
}

#requests th, td{
  width: 50%;
  margin: 5px;
  //border: 1px solid gainsboro;
}

#requests th{
  font-size: large;
  color: #67A5A9;
}

.request{
  border: 1px solid gainsboro;
  margin: 10px 5px 10px 5px;
  background-color: white;
  padding: 1rem 0px 1rem 0px;
}

.user{
  display: table-row;
  padding: 10px 0px 10px 0px;
}

.user .profile-pic{
  width: 25%;
  padding-left: 1rem;
}

.user-link{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-style: italic;
  padding-left: 5px;
}

.button-panel form{
  display: inline;
}

.footer {
  position: fixed;
}

.btn-secondary {
  background-color: #67A5A9;
}

a {
  color: #67A5A9;
}
