.navbar li a {
display: block;
color: #C4DFE6;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.bg-light-custom {
  background-color: #003B46 !important;
}

.navbar-light .navbar-brand-custom {
  color: #C4DFE6;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
.mr-auto-custom {
  margin-left: auto !important;
}
