

  .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d64242;
  }

  .navbar li {
  float: left;
  }

  .navbar li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
  background-color: #626868;
  }
