// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome
{
  text-align: center;
  color: white;
  font-size: 40px;
}
body
{
  background: #3b5998;
}
#face
{
  width:140px;
  height: 130px;
}
