// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome
{
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 70px;
}
body
{
  background: #3b5998;
  text-align: center;
  color: white;
}
#test
{
  color: white;
  border:1px solid #021a40;
}
#face
{
  margin-top: 70px;
  width:140px;
  height: 130px;
}
#login
{
  margin-top: 50px;
}
#signup
{
  color: white;
}
#formssize
{
  width: 30%;
  margin-left: 35%;
  margin-top: 20px;
}
#forms-size-edit-password
{
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}
#account-cancel
{
  text-align: center;
}
.eachpost
{
  border:3px solid #021a40;
  margin-top: 5px;
  width: 30%;
  color: black;
  margin: auto;
  white-space: inherit;
  word-break: break-word;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
.comments
{
  border:3px solid #021a40;
  margin-top: 5px;
  width: 50%;
  color: black;
  margin: auto;
  white-space: inherit;
  word-break: break-word;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
.createdby
{
  color: gray;
  text-align: right;
}
#post-description
{
  font-style: italic;
  font-size: 15px;
}
.buttons
{
  text-align: left;
}
.textarea
{
  border:3px solid #021a40;
  width: 40%;
  border-radius: 10%;
  height: 50px;
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
#logout
{
  text-align: right;
  padding-right: 10px;
}
#updateAccount
{
  text-align: left;
}
#helloUser
{
  color: white;
  text-align: left;
  padding: 20px;
  float: left;
  font-style: italic;
}
#post-description
{
  border:3px solid #021a40;
  width: 40%;
  border-radius: 10%;
  font-style: italic;
  margin: auto;
}
.eachcomment
{
  border:3px solid #021a40;
  margin-top: 5px;
  width: 90%;
  color: black;
  margin: auto;
  white-space: inherit;
  word-break: break-word;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
}
.comment-background
{
  border:3px solid #021a40;
  margin-top: 5px;
  width: 50%;
  color: black;
  margin: auto;
  white-space: inherit;
  word-break: break-word;
  padding: 20px;
  background-color: gray;
  border-radius: 5%;
}
#users
{
  margin-left: 10px;
  text-align: left;
  padding: 20px;
  float: left;
  border:3px solid #021a40;
  border-radius: 5%;
  margin-top: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
#eachUser
{
  border:4px solid #021a40;
  border-radius: 10%;
  text-align: center;
  padding: 20px;
  width: 90%;
  background-color: gray;
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
#eachUser:hover{
  border:6px solid black;
  background-color: #8c8c8c;
  border-radius: 10%;
  text-align: center;
}
#createPost
{
  margin-right: 22%;
}
#usersHeader
{
  color: gray
}
.box-shadow{
  -webkit-box-shadow: 0px 1px 15px 3px #000000;
   box-shadow: 0px 1px 15px 3px #000000;
}
#header
{
  width: auto;
  height: auto;
}
#profile
{
  float: left;
  padding: 20px;
}
#backButton
{
  float: right;
  padding: 20px;
}
#profileForm
{
width: 30%;
margin: auto;
}
#userPicture
{
  float: left;
  padding: 20px;
}
#aboutMe
{
  padding: 20px;
  width: 50%;
  margin: auto;
  border:4px solid #021a40;
  border-radius: 10%;
}
