// ARBNOR CSS HERE

.body-background{
   background-image: url("friends.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 500px 400px;
   background-repeat: no-repeat;
   background-attachment: relative;
 }

.heading-center1 {
 text-align: center;
 font-size: 60px;
 color: #67A5A9;
 position: relative;
 top: 250px; right: 350px
}

h4 {
  text-align: center;
  color: #67A5A9;
  position: relative;
}

.heading-center6 {
text-align: center;
color: #D0A18B;
font-size: 18px;
position: relative;
top: 250px; right: 350px
}

.log_in{
color: slateblue;
}

.small-middle-container{
margin: auto;
width: 30%;
position: relative;
bottom: 30px; left: 350px
}

.md-social-btn .mbsc-ic {
    float: left;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BDD3DC;
  // light blue #F0FFFF; or cream #FFFAF0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.mbsc-cloak{
 text-align: center;
}

ul#menu li a{
  color: #67A5A9;
  font-size: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

ul#menu li{
  list-style-type: none;
  display: inline-block;
}

.btn-primary {
    color: #304a51;
    background-color: #BDD3DC;
    border-color: #D0A18B;
}

// below is for the "forgot password?"
.btn-forgot{
  color: #67A5A9;
}

#menu a:hover {
  color: #D0A18B;
  // original blue hover #064579;
}
