li {
  font-size: 20px;
  display: inline;
  float: left;
  background-color: none;
  margin-inline-end: 10px;
}

.right_links {
  font-size: 20px;
  display: inline;
  float: right;
  background-color: none;
  margin-inline-end: 10px;
}

