.new-post-form {
  background-color: #d8e0f1;
  width: 40%;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  textarea {
    padding: 1em;
    height: 80px;
    border: none;
    margin-bottom: 15px;
  }
  label {
    margin: none;
  }
  input[type="submit"] {
    background-color: #001852;
    padding: 0.5em 1.2em;
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: none;
    margin-right: 0;

  }
}

.ace-btn {
  text-decoration: none;
  color: #001852;
  padding: 1em 1.2em;
  margin-left: 0.5em;
  font-weight: 400;
}

.ace-btn:hover {
  background-color: #001852;
  color: white;
}

.new-post-btn {
  text-decoration: none;
  background-color: #fd8379;
  color: white;
  padding: 1em 1.2em;
  margin-left: 0.5em;
  font-weight: 700;
}

.new-post-btn:hover {
  background-color: #001852;
  color: white;
}

.post-btn {
  text-decoration: none;
  color: #001852;
  padding: 0.5em 0.5em;
  margin-left: 0.5em;
  font-weight: 400;
  font-size: 8.5pt;
}

.post-date {
  color: #001852;
  padding: 0.5em 0.5em;
  font-weight: 400;
  font-size: 8.5pt;
  text-align: left;
  margin-bottom: 0;
}

.post-btn:hover {
  background-color: #001852;
  color: white;
}

.navbar {
  background-color: #d8e0f1 !important;
}

.post-box {
  display: table;
  width: auto;
  background-color: #eee;
  border: 1px solid #666666;
  border-spacing: 5px;
}

.card {
  background-color: #d8e0f1;
  width: 40%;
  margin: auto;
  border-radius: 0;
  border: none;
}

.card-title {
  text-align: left;
  font-size: 10pt !important;
  a {
    font-size: 12pt;
    color: #001852;
    text-decoration: none;
  }
}

.card-text {
  color: #001852;
  font-family: "Roboto Serif", sans-serif;
  text-align: left;
  font-weight: 300;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.avatar {
  text-align: left;
  margin-right: 8px;
}
.avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}
