/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$blue: rgb(112, 112, 218);
$orange:#FFBD59;
$red: #ED1C24;

body {
  background-color: white;
  background-size: 100%;
  background-attachment: fixed;
  /* repeating-linear-gradient(42deg, #3c6e71, #5fbff9 , #5863f8 10%); */
}

p {
  white-space: pre-wrap;
}

p.action-link {
  font-size: 24px;
}

a {
  color: $red;
  font-weight:bold;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  font-size: 3rem;
  position: relative;
  z-index: 10;
  height: 100px;
}

.header-fixed {
  position: fixed;
  top: 100px;
  display: block;
  background-color: white;
}

.main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.post {
  grid-column: 1 / span 2;
  background-color: $orange;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
}


.new-post {
  padding: 3px;
  grid-column: 1;
  width: 50%;
  background-color: black;
  border-radius: 6px;
}

.new-post a {
  padding-left: 6px;
  color: $red;
}

.centered {
  grid-column: 2 /span 2;
}
