.commentsButton {
  background-color: Transparent;
  border: none;
  cursor:pointer;
  padding: 0;
  outline:none;
  font-size: 0.8em;
  /* #181818 */
}

.commentsContainer {
  display: none;
}

.submit_button {
  width: auto;
}

.button {
  width: auto;
}
