* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-body {
  /* position: relative; */
  // float: left ;
  width: 100%;
  // margin: 20px;
  // margin-right: 5px;
  background-color: beige;
}
.posts {
  margin: 20px auto;
  width: 80%;
  background-color: beige;
}
.post {
  background-color: aqua;
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  border-radius: 25px;
  border: 5px;
  border-style: solid;
  border-color: coral;
}
.post-message {
  white-space: pre-line;
}
.post-footer {
  text-align: right;
}
article {
  display: block;
}