#content-wrapper {
  width: 100%;
}

.post-meta {
  background: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: content-box; 
  width: 100%;
}

.single-post {
  text-align: left; 
  padding-left: 33%;

  padding-right: 33%;
}

.username {
  font-size: 30px ;
}

.date {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px ;
}

.submit-comment {
  margin-top: 10px;
}

.single-comment  {
  padding-left: 20%;
  padding-right: 10%;
}

.commenter {
  font-size: 23px ;
}

.comment-date {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px ;
}
