/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$blue: rgb(112, 112, 218);

body {
  background-color: #f05365;
  background-size: 100%;
  background-attachment: fixed;
  /* repeating-linear-gradient(42deg, #3c6e71, #5fbff9 , #5863f8 10%); */
}

p {
  white-space: pre-wrap;
}

a {
  color: black;
}
.main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.post {
  grid-column: 1 / span 2;
  background-color: orange;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 6px;
}

.new-post {
  background-color: orange;
  border-radius: 6px;
}

.new-post a {
  padding-left: 6px;
  color: #000;
}
