.post {
  background-image: url("https://specials-images.forbesimg.com/imageserve/5f96fe1769feaff1500a01cf/960x0.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #d4d1d1;
  padding: 0.5em;
  padding-top: 1.5em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  text-align: center;
  border-radius: 2.5em;
  --box-shadow-color: rgb(129, 44, 214);
  box-shadow: 5px 5px 10px 2px var(--box-shadow-color);
  color: rgb(0, 0, 0);
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 1.5em;

  /* border: 0.1em solid #0a122a; */
}
.message {
  font: inherit;
}

.username {
  display: inline-block;
  font: inherit;
}

.date {
  display: inline-block;
  margin-right: 4px;
  font: inherit;
}

.like-count {
  font: inherit;
}

#new-post-link {
  padding: 0.5em;
  padding-top: 1.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.like-btn {
  background-color: #e6efec00;
  border: none;
}

.like-btn-icon {
  width: 1.8em;
  height: 1.8em;
}

.unlike-btn {
  background-color: #e6efec00;
  border: none;
}

.unlike-btn-icon {
  width: 1.8em;
  height: 1.8em;
}

.post-title {
  margin: 0;
  margin-left: 0%;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate3d(-50%, -50%, 0); */
  /* transform: translate3d(-50%, -50%, 0); */
  font-size: 3em;
  text-transform: uppercase;
}

.post-title .thin {
  font-weight: 200;
}
