h1 {
  color: #ffffff;
  font-family: 'Lobster', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: auto;
}

div#news_deck {
  max-width: 70% !important;
  display: flex;
  flex-direction: column;
  margin: auto;
}

div.post_div {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  background-color: white;
  min-width: 505px;
}

div.post_user_div {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 150px;
  margin: auto;
  padding: 5px;
  border: solid 1px black;
}

div.parent_container_div {
  flex-grow: 5;
  flex-basis: 0;
  min-width: 350px;
  margin: auto;
  border: solid 1px black;
}

div.conatainer_div {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid 1px black;
}

div.post_message_div {
  flex-grow: 9;
}

div.post_options_div {
  flex-grow: 1;
  display: flex;
}

div#comment_count, #like_count {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 5px;
  border: solid 1px black;
}

div.btn_div {
  display: flex;
  margin: auto;
}

form.button_to {
  margin: auto;
  flex-grow: 1;
  flex-basis: 0;
}

#edit_btn,
input#del_btn {
  max-height: 20px;
  padding: 5px;
  margin: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 10px;
  color: #ecc51f;
  border-radius: 5px;
  background-color: #838bb0;
}

#edit_btn:hover,
input#del_btn:hover {
  background-color: #cfd7dd;
  color: #850d14;
}
