.time {
  text-align: left;
  width: 100%;
}

.username {

}

.post-page {
  position: relative;
  background-color: #666666;
  height: 100%;
}

.post-feed {
  position: relative;
  top: 0px;
  height: 100%;
  margin: auto;
  width: 80%;
  background-color: #f6f6f6;
}

.post-body {
  border: 1px solid #44d9e6;
  width: 95%;
  margin: auto;
  border-radius: .25rem;
  p {
    background-color: #ffffff;
    width: 95%;
    margin: auto;
    text-align: left;
    border-radius: .25rem;
    padding: 5px;
    color: black;
    white-space: pre-wrap;
    font-size: 15px;
  }
  * {
    color: #44d9e6;
    font-size: 20px;
  }
  .align-left {
    float: left;
    padding-left: 2.5%;
  }
  .align-right {
    float: right;
    padding-right: 2.5%;
  }
}

.notice {
  background-color: #44d9e6;
  color: #ffffff;
  margin-bottom: 0px;
}

.fa-trash:hover {
  transition: transform .2s;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 }


.fa-pencil:hover {
  transition: transform .2s;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 }

 .fa-thumbs-up:hover {
  transition: transform .2s;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 }

 .fa-plus-square-o:hover {
  transition: transform .2s;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
 }