
.post{
  background-color: White;
  margin: 10px;
  width: 500px;
  text-align: center;
  margin: auto;
}

.field{
  background-color: DarkOrchid;
  width: 25%;
  margin-left: 10px;
  color: white;
}

#new_post {
  background-color: DarkOrchid;
  width: 300px;
  margin: 10px;
  text-align: center;
  height: 250px;
  color: white;
}

.actions{
  margin-left: 10px;
  background-color: DarkOrchid;
  width: 25%;
  color: white;
}

h2{
  background-color: DarkOrchid;
  top: 0.5;
  width: 25%;
  margin: 10px;
  text-align: center;
  color: white;
}

h1{
  background-color: DarkOrchid;
  top: 0.5;
  width: 25%;
  margin: 10px;
  text-align: center;
  color: white;
}

.nav {
  background-color: DarkOrchid;
  top: 0;
  width: 100%;
  position: fixed;
  color: white;
}

.single-post {
  width: 500px;
  border-bottom: 4px solid DarkOrchid;
  text-align: center;
  margin: auto;
}


.post-created-at{
  font-size: 12px;
}

.post-text{
  font-size: 20px;
  background: DarkOrchid;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  max-width: 400px;
  padding: 15px;
  position: relative;
  color: white;
  margin: auto;
}

body {
  background-image: url("cloud.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white;
}
