@import "bootstrap";
.logo{
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  img{    width: 8%;
  }
} 
  .logout-link {    float: right;
    display: block;
    width: 100%;}
.top-nav {
  float: right;
  margin: 2% 0;
  width: 100%;
  display: block;
  text-align: right;
}
.nav-link {
  display: inline-block;
  font-size: 18px;
  text-transform: capitalize;}
a.nav-link:hover {
  color: #fff;
  background-color: #5c7c9f;
}
  .top-nav ul li {    list-style: none;
    display: inline;}
.friends-container {    float: right;
  width: 25%;}

.all-cards {
  float: left;
    width: 50%;
    margin: 0 6%;
    .card {
      margin: 0 auto 1%;
      text-align: center;
      width: 80%;
      border: 3px solid rgb(102, 176, 186);
    }
}

h3 {text-align: right;
  font-size: 16px;
  letter-spacing: 0.1em;}
.user-cards{
  .card {
    margin: 2% auto 1%;
    text-align: center;
    width: 50%;
    border: 3px solid #66b0ba;
  }
}
.post-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.btn-primary {
  background-color: #9d9a9f;
  border: none;
}

.btn-primary:hover {
  background-color: #5c7c9f;
  border: none;
}
a.btn.btn-primary:visited {
  color:#fff;
}

.logout {float: right;}
