body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #F0F6F6;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #67A5A9;
}

p {
  font-size: 20px;
  text-align: center;
}

img{
  border-radius: 50%;
}

.main-body {
  padding: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}


.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

.sidebar{
  grid-template-columns: 1;
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}

body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
  background-image: "images/cheeseburger.png";
}
.main-body {
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
 }


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F0FFFF;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.btn{
  background-color: #67A5A9;
  border-color: #D0A18B;

  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.sidebar{
  grid-template-columns: 1;
  height: 100px;
  width: 100px;
  background-color: blueviolet;
}


body{
  margin-top:20px;
  background-color: #F0F6F6;
}


.profile-header {
  position: relative;
  overflow: hidden
}

.profile-header .profile-header-cover {
  background-image: url(https://via.placeholder.com/600x100/);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.profile-header .profile-header-cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}

.profile-header .profile-header-content {
  color: #fff;
  padding: 25px
}

.profile-header-img {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 0 -20px;
  padding: 3px;
  border-radius: 4px;
  background: #fff
}

.profile-header-img img {
  max-width: 100%
}

.profile-header-info h4 {
  font-weight: 500;
  color: #fff
}

.profile-header-img+.profile-header-info {
  margin-left: 140px
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
  position: relative
}

.b-minus-1,
.b-minus-10,
.b-minus-2,
.b-minus-3,
.b-minus-4,
.b-minus-5,
.b-minus-6,
.b-minus-7,
.b-minus-8,
.b-minus-9,
.b-plus-1,
.b-plus-10,
.b-plus-2,
.b-plus-3,
.b-plus-4,
.b-plus-5,
.b-plus-6,
.b-plus-7,
.b-plus-8,
.b-plus-9,
.l-minus-1,
.l-minus-2,
.l-minus-3,
.l-minus-4,
.l-minus-5,
.l-minus-6,
.l-minus-7,
.l-minus-8,
.l-minus-9,
.l-plus-1,
.l-plus-10,
.l-plus-2,
.l-plus-3,
.l-plus-4,
.l-plus-5,
.l-plus-6,
.l-plus-7,
.l-plus-8,
.l-plus-9,
.r-minus-1,
.r-minus-10,
.r-minus-2,
.r-minus-3,
.r-minus-4,
.r-minus-5,
.r-minus-6,
.r-minus-7,
.r-minus-8,
.r-minus-9,
.r-plus-1,
.r-plus-10,
.r-plus-2,
.r-plus-3,
.r-plus-4,
.r-plus-5,
.r-plus-6,
.r-plus-7,
.r-plus-8,
.r-plus-9,
.t-minus-1,
.t-minus-10,
.t-minus-2,
.t-minus-3,
.t-minus-4,
.t-minus-5,
.t-minus-6,
.t-minus-7,
.t-minus-8,
.t-minus-9,
.t-plus-1,
.t-plus-10,
.t-plus-2,
.t-plus-3,
.t-plus-4,
.t-plus-5,
.t-plus-6,
.t-plus-7,
.t-plus-8,
.t-plus-9 {
  position: relative!important
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 0 0 140px;
  white-space: nowrap;
  border-radius: 0
}

.text-ellipsis,
.text-nowrap {
  white-space: nowrap!important
}

.profile-header .profile-header-tab>li {
  display: inline-block;
  margin: 0
}

.profile-header .profile-header-tab>li>a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  border: none
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
  color: #304A51
}

.profile-content {
  padding: 25px;
  border-radius: 4px
}

.profile-content:after,
.profile-content:before {
  content: '';
  display: table;
  clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
  background: 0 0
}

.profile-left {
  width: 200px;
  float: left
}

.profile-right {
  margin-left: 240px;
  padding-right: 20px
}

.profile-image {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid #E2E7EB;
  overflow: hidden;
  border-radius: 4px
}

.profile-image img {
  display: block;
  max-width: 100%
}

.profile-highlight {
  padding: 12px 15px;
  background: #FEFDE1;
  border-radius: 4px
}

.profile-highlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

.profile-section+.profile-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b9c3ca
}

.profile-section:after,
.profile-section:before {
  content: '';
  display: table;
  clear: both
}

.profile-section .title {
  font-size: 20px;
  margin: 0 0 15px
}

.profile-section .title small {
  font-weight: 400
}

.bg-white {
  background-color: #F0FFFF !important;
}
.p-10 {
  padding: 10px!important;
}
.media.media-xs .media-object {
  width: 32px;
}
.m-b-2 {
  margin-bottom: 2px!important;
}
.media>.media-left, .media>.pull-left {
  padding-right: 15px;
}
.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container{
  float: center;
}

.post {
  display: block;
}

#profile-posts .container-fluid{
  padding-bottom: 0;
}