// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 40px;
}
header {
  border-bottom: 2px rgb(63, 63, 63) solid;
  margin-bottom: 20px;
}
