.signupform {
  width: 150px;
  clear: both;
}

.signupform input {
  width: 100%;
  clear: both;
}

.Submit {
  width: 90px;
  height: 100px;
  font-size: 20pt;

}

.header {
  width: 50px;
  display: inline;
}

.form {

  font-size: 20pt;
  width: 50%;
  margin-top: 50px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS";
}
