@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*::after, *:before {
  box-sizing: border-box;
}

body {
  background-color: rgba(221, 221, 221, 0.616);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}

#header__title {
  margin-left: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.header__nav-bar {
  display: flex;
}

.header__nav-bar_li, p {
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 0;
  margin: 0;
}

.all_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post {
  display: grid;
  grid-template-areas: "message"
                       "footer";
  grid-template-rows: 3fr 1fr;
  width: 40rem;;
  background-color: #fff;
  margin: 6px;
  border: 00.1mm solid rgba(221, 221, 221, 0.616);
  border-radius: 0.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}

.post__message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  grid-area: message;
  padding: 20px;
  margin: 0;
}

.post_footer {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  grid-area: footer;
}

.post_footer-el {
  margin-left: 50px;
}

#alerts {
  margin-top: 3rem;
  padding: 0;
  color: green;
}

#new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 40rem;;
  height: 60px;
  padding: 2px;
  margin: 0 6px 6px 6px;
  border: 00.1mm solid rgba(221, 221, 221, 0.616);
  border-radius: 0.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}

.new-post__form input[type =text] {
  padding: 11px;
  width: 480px;
  border: none;
  border-radius: 25px;
  background-color: rgba(221, 221, 221, 0.616);
  outline: none;
  margin: 6px;
}

.new-post__form input[type =submit] {
  border: none;
  padding: 10px;
  width: 70px;
  background-color: rgb(92, 136, 219);
  border-radius: 5px;
  color: white;
  
}

.new-post__form input[type =submit]:hover {
  background-color: rgb(48, 105, 211);;
}