body {
 background-image: url("https://dypqnhofrd2x2.cloudfront.net/98D3-0000-028E-1362.jpg");
 /* background-repeat: no-repeat; */
}
h1 {
  font-family: 'DotGothic16', sans-serif;
  color: white;
  font-size: 150px;
  font-weight: bold;
  padding-top: 150px;
}
h2 {
  font-family: 'DotGothic16', sans-serif;
  color: greenyellow;
  font-size: 100px;

}
h3 {
  font-family: 'DotGothic16', sans-serif;
  color: black;
}
h4 {
  font-family: 'DotGothic16', sans-serif;
  color: white;
}
ul {
  font-family: 'DotGothic16', sans-serif;
  color: white;
}
p {
  font-family: 'DotGothic16', sans-serif;
  color: black;
  font-size:
}
.navbar-brand {
  font-family: 'DotGothic16', sans-serif;

}
.mt-5 {
  font-size: 100px;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: center;
}

.box {
text-align: center;
flex-direction: column;
margin: 0 auto;
border-radius: 5%; */
padding: 5%;
background-color: white;
}

a:link {
  /* background-color: white; */
  border-radius: 9%;

}

a:hover {
  background-color: #79e66f;
}

.btn-new {
  margin: 10px;
}

.box-new {
  color: #79e66f;
}
.nav-item {
  color: black;
}
