@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*::after, *:before {
  box-sizing: border-box;
}

.page_footer, footer {
  background-color: #0C6EFD;
}

body {
  background-color: rgba(221, 221, 221, 0.616);
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

main {
  height: calc(100vh - 60px);
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
}

 p {
  display: flex;
  justify-content: space-between;
  margin-right: 45px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 0;
  margin: 0;
}

a:hover {
  color: black;
}

.all_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post {
  display: grid;
  grid-template-areas: "header"
                       "message"
                       "footer-info"
                       "footer";
  grid-template-rows: 3.1rem 3fr 2rem 2.8rem;
  width: 40rem;;
  background-color: #fff;
  margin: 6px;
  border: 00.1mm solid rgba(221, 221, 221, 0.616);
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}

.post_header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-weight: 500;
  align-items: center;

}

.post_time {
  margin: 1rem 1rem 0 0;
  font-size: .9rem;
  font-weight: 400;
  color: rgb(22, 22, 22);

}

.post_header--name-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 13rem;
  margin: 3rem 0 1rem 7px;
  font-size: 1.1rem;
}

.post_header-img-default img {
  width: 3rem;
  height: 3rem;
}

.post__message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  grid-area: message;
  padding: 1.2rem;
  margin-top: 10px;
}

.post__message-img {
  margin: 0 auto;
  grid-area: message;
  width: auto;
  padding-right: .5rem;
}

.post__message-img img {
  border-radius: 5px;
  width: 34rem;
}

.post_footer {
  font-size: .85rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-area: footer;
  margin: 0 1rem;
  border-bottom: 00.1mm solid #ddd;
}

.post_footer-el {
  margin-left: 3.1rem;
  padding: 0;
  margin: 0;
}

.post__footer-info {
  margin: 0 1rem;
  font-size: .9rem;
  grid-area: footer-info;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.post__comments {
  display: none;
  font-size: 1rem;
  width: 39.5rem;
  height: 0;
  background-color: white;
  border-radius: 0.2em;
  padding: 1rem;
  color: black;
}

.post__enter-comments {
  background-color: #fff;
  width: 25rem;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__enter-comments form {
  padding: 0;
  margin-top: -21px;
}

.profile {
  text-align: center;
  display: grid;
  grid-template-areas: "header"
                       "message"
                       "footer-info"
                       "footer";
  grid-template-rows: 50px 3fr;
  width: 40rem;;
  background-color: #fff;
  margin: 0px;
  border: 00.1mm solid rgba(221, 221, 221, 0.616);
  border-radius: 0.5em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}


.profile-img {
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.301), 0 11px 15px 0 rgba(0, 0, 0, 0.247);
  border-radius: 50%;
  margin-top: 10px;
}

.profile_header {
  grid-area: header;
  justify-content: space-between;
  margin: 5px 10px 1px 5px;
  font-weight: 650;
  align-items: center;
}

.profile_text_head {
  text-align: center;
}

.comment {
  border: none;
  border-radius: 25px;
  background-color: rgba(221, 221, 221, 0.616);
  outline: none;
  padding: 5px 10px 5px 0;
  margin-left: 16px;
  font-size: .8rem;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-time {
  float: right;
  font-size: .7rem;
  font-weight: 200;
  color:rgba(0, 0, 0, 0.904);
}

.comments-container {
  overflow-y: scroll;
  height: 19.3rem;
}

.comments-container::-webkit-scrollbar {
  display: none;
}

.comment__name {
  font-weight: 500;
  font-size: .9rem;
  padding: 5px;
}

.comments_num {
  font-size: .8rem;
  color: black;
}

.comment__text-area input[type =text] {
  width: 32rem;
  border-radius: 25px;
  border: 00.3mm solid rgba(0, 0, 0, 0.89);
  outline: none;
  margin: 0 6px 16px 0;
  padding: 7px;
  display: inline-block;
  font-size: .8rem;
}

.comment__text-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-img img {
  width: 32px;
  height: 32px;
  margin: 1px;
}

.comment-btn {
  margin: 0 6px 16px 0;
}

#new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 40rem;
  height: 3.8rem;
  padding: 2px;
  margin: 12px 6px 6px 6px;
  border: 00.1mm solid rgba(221, 221, 221, 0.616);
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137), 0 1px 3px 0 rgba(0, 0, 0, 0.103);
}

.likes {
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: center;
}

.likes i {
  margin-left: 3px;
}

.new-post__form input[type =text] {
  padding: 7px;
  width: 480px;
  border: none;
  border-radius: 25px;
  background-color: rgba(221, 221, 221, 0.616);
  outline: none;
  margin: 6px;
}

.new-post__form input[type =submit] {
  border: none;
  padding: 10px;
  width: 70px;
  background-color: rgb(92, 136, 219);
  border-radius: 5px;
  color: white;
  
}

.new-post__form input[type =submit]:hover {
  background-color: rgb(48, 105, 211);;
}

input[type="file"] {
  display: none;
}

.custom-file-upload{
  margin: 5px;

}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid gray;
  margin: 1em 0;
  padding: 0;
}

#title-text{
  font-family: 'klavika-2', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20vh;

  background-color: #f5f5f5;
}

#nav-txt{
  font-family: 'klavika-2', sans-serif;
}

@media screen and (max-width: 600px ) {
  html {
    font-size: 15px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .post {
    width: 95vw;;
  }

  #signup {
    flex-direction: column;
  }

  #new-post {
    width: 95vw;;
  }

  .new-post__form input[type =text] {
    width: 70vw;
    padding: 5px;
  }

  .post__message-img img {
    width: 75vw;
  }
 
  .mobile-btn {
    width: 50px;
    height: 28px;
    text-align: center;
    font-size: 14px;
  }

  .post__comments {
    width: 94vw;
    height: auto;
    padding-left: 0;
    margin-left: 0;
  }

  .comment__text-area input[type =text] {
    width: 75vw;
    padding: 5px 0 5px 10px;
  }
}