html, body {
  height: 100%;
}

body{
  background-image: none;
  background-color: #F0F6F6;
}

h1{
  color: #67A5A9;
}

.container-fluid {
  display: inline-block;
}

#page{
  margin: auto;
  //border: 3px solid gainsboro;
  padding: 10px;
  text-align: center;
  display: block;
}
