html, body {
  height: 100%;
}

body{
  background-image: none;
  background-color: #F0F6F6;
}

h1{
  color: #67A5A9;
  text-align: center;
  padding-top: 40px;
}

.container-fluid {
  display: inline-block;
  max-width: 800px;
}

#page{
  margin: auto;
  //border: 3px solid gainsboro;
  padding: 10px;
  text-align: center;
  display: block;
}

.original-post{
  width: 80%;
  margin: auto;
  display: inline-block;
  margin: 5px;
}

.sidenav {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 80px;
  //background: #eee;
  overflow-x: hidden;
  //padding: 8px 0;
}

.sidenav a {
  padding: 10px 8px 10px 20px;
  text-decoration: none;
  font-size: 30px;
  color: #67A5A9;
  display: block;
}

.sidenav a:hover {
  color: #D0A18B;
  // original blue hover #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.form-control{
  width: 85%;
  margin: auto;
}
