// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  display: table-caption;
}

.col-md-6 {
  display: inline-grid;
}
