// Place all the styles related to the walls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-tabs{
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid #262626;
    color: #262626;
  }
}
