// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: whitesmoke;
}

input {
    height: auto !important;
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(94, 216, 155);
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #008CBA;
}