// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  width: 100%;
  background-color: green;
  height: 150px;
}
.logo {
  float: left;
  margin-right: 5px;
}
.banner_items {
  float: right;
  margin-right: 20px auto;

}