// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

html,
body {
  height: 100%;
  background-color: #ebecee;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4267b2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4267b28e;
}

.catbook-logo {
  display: flex;
  float: center;
  font-size: 100px;
  padding: 50px;
}

div.card {
  width: 50%;
  text-align: center;
  margin: auto;
  background-color: white;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

#top {
  height: 20px;
  padding: 15px;
  display: flexbox;
}

#top-left {
  float: left;
  text-align: left;
}

#post-user {
  font-size: 14px;
  color: #385898;
  font-weight: 800;
}

#post-date {
  font-size: 10px;
  color: grey
}

#post-links {
  float: right;
}

#post-message {
  padding: 5px 15px 15px 15px;
  text-align: left;
  font-size: 14;
}

#post-links a {
  font-size: 11px;
  color: lightgrey;
  text-decoration: none;
  display: inline;
  margin-right: 1px;
}

#post-links a:hover {
  color: grey;
}

#post-spacer {
  height: 10px;
}

#new-post-link {
  width: 50%;
  height: 40px;
  text-align: center;
  margin: auto;
  background-color: white;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  padding-top: 15px;
}

#new-post-link a {
  text-decoration: none;
  font-size: 20px;
  color: #385898;
  font-weight: 800;
  padding-top: 5px;
}

#likes a {
  font-size: 20px;
  text-decoration: none;
}

#new-post-form {
  padding: 15px;
}

#form-header {

  width: 50%;
  text-align: center;
  margin: auto;
  font-weight: 800;
  background-color: #ebecee;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-bottom-style: none;
  height: 30px;
  padding: 10px 0 0 0;
}


#form-text-area[input] {
  float: left;
  // border-style: none;
}

textarea { 
  border-style: none; 
  border-color: Transparent; 
  resize: vertical;
  overflow: auto;   
  width: 90%;     
  height: 50px;
}

#new-post-header {
  font-size: 20px;
  color: #385898;
  padding: 15px;
  font-weight: 800;
}

#form-submit-btn {
  height: 30px;
}

#wall-owner {
  font-size: 20px;
  color: #385898;
  padding: 15px;
  font-weight: 800;
}

#devise-form-header{
  font-size: 20px;
  color: #385898;
  font-family: 'Open Sans';
  font-weight: 500;
}

#devise-form-container {
  width: 90%;
  text-align: center;
}

#devise-form-right {
  width: 50%;
  margin: auto;
}

#devise-form-left {
  width: 50%;
  margin: auto;
  text-align: center;
}

.actions {
  padding: 5px 0 14px 0;
  font-size: 15px;
}

.actions input[type=submit] {
  background-color: #769e49;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

#devise-links a{
  color: #385898;
  font-weight: 600;
  padding: 14px;
}