<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FAECES BOOK, <%= @user.first_name %></h1>
    <p>
      You have signed up! well done. 
    </p>
    <p> To Login to the site, just follow this link: <%= @url %></p>
    <p>Thanks for joining and hope you have a FAECES day!</p>
  </body>
</html>