<% content_for :login_logout do %>
<li class="nav-item">


            <%= link_to sessions_path , method: :delete, class: "nav-item nav-link", id: "delete_post" do %>
            Logout
          </li>
           <% end %>
    <% end %>


    Profile Page
