<h1><%= @user.firstname %>'s Profile Page</h1>

<%= link_to "Add Photo Album", new_album_path %>

<% @posts.each do |post| %>
  <% if post.user_id == @user.id %>
    <p><%= post.message %></p><br>
  <% end %>
<% end %>
