<div class="card fixed-bottom ml-auto" style="width: 30rem;">
  <div class="card-header">
    CHAT
  </div>
    <div class="card-body well" id="chatbox" style="height: 45rem; border: solid 1px #222222; overflow-y: scroll;">
      <% @messages.reverse.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <%= form_with model: @message do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :body, placeholder: "Type a message", class: "form-control", id: "message_body" %>
        <div class="input-group-append">
          <%= f.submit "Send", class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
</div>
