<footer>
  <div class="footer">
    <hr>
    <ul style="float" id="menu">
    <li><a href="javascript:void(0)">About</a></li>
    <li><a href="javascript:void(0)"> Help Center </a></li>
    <li><a href="javascript:void(0)"> Terms of Service </a></li>
    <li><a href="javascript:void(0)"> Privacy </a></li>
    <li><a href="javascript:void(0)"> Policy </a></li>
    <li><a href="javascript:void(0)"> Ads info </a></li>
    <li><a href="javascript:void(0)"> Careers </a></li>
    <li><a href="javascript:void(0)"> Advertising </a></li>
    <li><a href="javascript:void(0)"> Marketing </a></li>
    <li><a href="javascript:void(0)"> Directory </a></li>
    <li><a href="javascript:void(0)"> Settings </a></li>
    </ul>
  </div>
</footer>