<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><span class="text-white">© 2021 Copyright:</span>
    <a href="https://mdbootstrap.com/"> <span class="text-white">String Me Along</span></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
