<br>
<%# <h1>whats up</h1> %>
<br>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>AceBook</strong> by <a href="/pages/about">Team Soda</a>.
    </p>
  </div>
</footer>