<footer class="page-footer font-small cyan darken-3">
<div class="container" id="footer-container">
    <div class="text-left center-block" id="footer-text">
        <p class="txt-railway">Brought to you by the Brainaics</p>


    </div>
</div>

</footer>