<footer class="page-footer font-small cyan darken-3">
<div class="container">
    <div class="text-center center-block">
        <p class="txt-railway">Find out More</p>
        <a href="https://github.com/tristanlangford/news-summary-challenge"><i class="fa fa-github" style="font-size:36px"></i></a>
    <br>

    </div>
</div>

</footer>