<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div style="font-family: 'ZCOOL XiaoWei', serif; font-size: 10px; padding-right: 5em" class="footer-copyright text-right py-3">© 2019 Lizardright
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->