<nav>
    <div class="header">
        <a href="#">
            <div class="logo"></div>
        </a>
        <div class="search">
            <input type="text" id="inputText" placeholder="Search Acebook">
            <div class="search-icon">
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Very-Basic-Search-icon.png"></img>
            </div>
        </div>
        <div class="right-side">
            <div class="rightofright">
                <div class="right-icon fr"><button class="btn btn-top"><i class="fa fa-users fa-2x" aria-hidden="true"></i></button></div>
                <div class="right-icon messages"><button class="btn btn-top"><i class="fa fa-comment fa-2x" aria-hidden="true"></i></button></div>
                <div class="right-icon notification"><button class="btn btn-top"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></button></div>
                <p>|</p>
                <div class=" right-icon privacy"><button class="btn btn-top"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></button></div>
                <div class=" right-icon down"></div>
            </div>
        </div>
</nav>
