<header class="navbar navbar-fixed-top">
<div class="jumbotron">
  <div class="container">
    <%= link_to "Acebook", root_path, id: "logo_home" %>
    
    </div>
  </div>
</header>
<%# 
<div class="jumbotron">
  <p style="font-size:45px; font-weight:900">Acebook</p>
  <h2>All Users</h2>
</div> %>