<nav>
    <div class="header">
        <a href="#">
            <div class="logo"></div>
        </a>
        <div class="search">
            <input type="text" id="inputText" placeholder="Search Acebook">
            <div class="search-icon">
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Very-Basic-Search-icon.png"></img>
            </div>
        </div>
        <div class="right-side">
            <div class="leftofright">
                <a href="#">
                    <img class="profile-pic" src=`https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-1/c386.38.441.441/s24x24/13094319_10205801481588682_5371068221214839105_n.jpg?oh=e560675e921559b9b669edcdf2e9a9f4&oe=582F68CE`>
                </a>
                <p>Matthew Wareing</p>
                <p>| </p>
                <p> Home</p>
            </div>
            <div class="rightofright">
                <div class="right-icon fr"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
                <div class="right-icon messages"><div><i class="fa fa-comment fa-2x" aria-hidden="true"></i></div></div>
                <div class="right-icon notification"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></div>
                <p>|</p>
                <div class=" right-icon privacy"><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i></div>
                <div class=" right-icon down"></div>
            </div>
        </div>
</nav>