<nav class='navbar navbar-light bg-primary'>
  <div>
    <a href="/posts" class="badge text-white"><h2>acebook</h2></a>

    <div class="row">
      <%= form_tag do |f| %>
        <% f %>
      <% end %>
    </div>
  </div>

  <div>
  </div>

  <div>
  </div>
</nav>
