<nav class='navbar navbar-light bg-primary'>
  <div>
    <a href="/posts" class="badge text-white"><h2>acebook</h2></a>
  </div>

  <div>
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Password">
        </div>
      </div>
    </form>
  </div>

  <div>
    <a href='#' class='btn btn-success btn-sm' role='button'>Log In</a>
  </div>
</nav>