<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AceBook!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/posts" id="navbar-posts">Posts</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>
</nav>
