<nav class='navbar navbar-light bg-primary'>
  <div>
    <a href="/posts" class="badge text-white"><h2>acebook</h2></a>
  </div>

  <div>
    <a href='#' class='btn btn-success btn-sm' role='button'>Log In</a>
  </div>
</nav>