<head>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-black bg-black">
  <a class="navbar-brand" href="/posts">RobotLizard </a> 
  <div class='img'>
  <strong> <img src="https://media.giphy.com/media/Lml3u3TpB2P3au7QmM/giphy.gif" width="100" height="100" alt=""> </strong>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/users/sign_up" >Sign up <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/users/sign_in">Log in</a>
    </div>
  </div>
</nav>


