<% if user_signed_in? %>
  <li><%= link_to('Posts', '/posts')%></li>
  <li><%= link_to('Signout', destroy_user_session_path, method: :delete)%></li>
<% else %>
  <li><%= link_to('Login', '/users/sign_in')%></li>
  <li><%= link_to('Signup', '/users/sign_up')%></li>
<% end %>
