
<div class="sidenav">
  <a href="/timeline">Timeline</a>
  <a href="/notifications">Notifications</a>
  <a id="profile" href="/users/<%= session[:user]["id"] %>">User Profile</a>
  <a href="javascript:void(0)">Inbox</a>
  <a href="javascript:void(0)">Settings</a>
  <a href="/users/log_out">Logout</a>
</div>

