<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-brand">
    <a class="navbar-item" href="/">
    <img src="<%= asset_path('logo.png') %>">
    </a>
</div>
<div>
    <a role="button" class="navbar-burger burger" id='burger' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    </a>
</div>
<div class="navbar-menu" id='nav-links'>
    <div class="navbar-start">
    <a class="navbar-item" href="/posts"> Home </a>
    <a class="navbar-item" href="/pages/about"> About </a>
    </div>
    <div class="navbar-end">
    <div class="navbar-item">
        <div class="buttons">
        <form action='/users/new' method='get'>
            <button class="button is-primary">
            <strong>Sign up</strong>
            </button>
        </form>
            <form action='/users/sign-in' method='get'>
            <button class="button is-light">
                <strong>Log in</strong>
            </button>
            </form>
        </div>
        </div>
    </div>
    </div>
</nav>