<nav class="navbar bg-light">
  <a href="/" class="navbar-brand">Knowledge Pill</a>
  <%= image_tag "navbar-brand.png", class: "navbar-brand-img" %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link purple-highlight" href="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link purple-highlight" href="/contact">Contact us</a>
    </li>

    <% if user_logged_in? %>
    <li class="nav-item">
        <a class="nav-link purple-highlight" href="/users/<%= session[:user_id] %>">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link purple-highlight" href="/logout">Log out</a>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link purple-highlight" href="/signup">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link purple-highlight" href="/login">Sign in</a>
      </li>
    <% end %>
  </ul>
</nav>
