<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="nav-text" href="/">acebook</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/posts" id="navbar-posts">Posts</a></li>
    </ul>
    <ul class="nav navbar-nav nav-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Profile', user_path(current_user) %></li>
      <% end %>
      <% if !user_signed_in? %>
        <li><a href="/users/sign_up" id="navbar-sign-up">Sign Up</a></li>
        <li><a href="/users/sign_in" id="navbar-sign-in">Sign In</a></li>
      <% end %>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div class='spacer'></div>
