<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/timeline">Timeline</a></li>
    <li class="breadcrumb-item"><a href="/notifications">Notifications</a></li>
    <li class="breadcrumb-item"><a id="profile" href="/users/<%= session[:user]["id"] %>">User Profile</a></li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">Inbox</a></li>
    <li class="breadcrumb-item"><a href="javascript:void(0)">Setting</a></li>
    <li class="breadcrumb-item"><a href="/users/log_out">Logout</a></li>
  </ol>
</nav>
<!-- /Breadcrumb -->
