<!DOCTYPE html>
<html>
  <head>

<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #335;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



</style>
</head>
<body>

<ul>
  <li><%= link_to('Home', home_path) %></li>
  <li><%= link_to('Feed', posts_path) %></li>
  <li><%= link_to('MyAccount', edit_user_registration_path) %></li>
  <li><%= link_to('SignOut', destroy_user_session_path, method: :delete) %></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:#FFFFFF;height:10px;">

</div>
</body>
</html>
