<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="fb-header-base">
    </div>
    <div class="fb-header">
      <div id="img1" class="fb-header">Acebook</div>
    </div>
    <%= yield %>
  </body>
</html>
 

 