<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="d-flex flex-row flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <div class="d-flex flex-column my-0 me-md-auto">
        <p class="h1 ">acebook</p>
        <p class="h6 align-self-end">JANNIS</p>
      </div>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </header>
    <%= yield %>
  </body>
</html>
