<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to Acebook</h1>

    <div class="log-in">
      <form action="">
        <h2>Log in</h2>
        <input type="text" placeholder="Email"> <br>
        <input type="password" placeholder="Password"> <br>
        <input type="submit" value="Log In">
      </form>
    </div>
    <div class="sign-up">
      <form action="">
        <h2>Sign up</h2>
        <input type="text" placeholder="First Name"> <br>
        <input type="text" placeholder="Last Name"> <br>
        <input type="text" placeholder="Email"> <br>
        <input type="password" placeholder="Password"> <br>
        <input type="submit" value="Sign Up">
      </form>
    </div>
  </div>
</body>
</html>
