<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/stylesheets/navbar.css">
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li class="nav-item">
          <!-- <a class="navbar-brand" href="path-to-root"><img src="path-to-logo"></a> -->
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log In</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Log Out</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
    </div>
    <div class="main">

    </div>
  </body>
</html>

